[2019-02-12 08:35] pd4d10 opened #1 "Markdown enhancement"
Currently we are using [flutter_markdown](https://github.com/flutter/flutter_markdown) as markdown renderer.

Todos:

- [ ] support inline html
- [ ] support rendering svg image
- [x] support [GFM](https://github.github.com/gfm/) syntax such as table
- [x] customize styles

[2019-02-12 08:51] pd4d10 opened #2 "Handle all event types correctly"
News screen shows all events received by current logged in user. Currently only a small part of types are correctly handled, code here:
https://github.com/pd4d10/git-touch/blob/d152750afb5f6b31b7f3a26d934ee8be2d1d5d20/lib/widgets/event_item.dart#L255-L261

All event types list here:
https://developer.github.com/v3/activity/events/types/#event-types--payloads

TODOs:

- [ ] CheckRunEvent
- [ ] Chec

[2019-02-14 05:05] pd4d10 opened #3 "Handle all timeline types correctly"
Timeline item widget is used at pull request and issue screen.

Code here:
https://github.com/pd4d10/git-touch/blob/89d6590cb05b9e3b68597547bb90116b2a9102e1/lib/widgets/timeline_item.dart#L82-L84

[2019-02-14 05:10] pd4d10 opened #4 "GitLab support"
GitLab also has [API](https://docs.gitlab.com/ee/api/) available for development, and support login by [OAuth](https://docs.gitlab.com/ee/api/oauth2.html).

[2019-04-16 09:10] ghost opened #5 "Support gitea"
Hotels is a very light weight git server written in golang and so runs anywhere.
It covers about 90% of the use cases gitlab covers.

Server.
https://github.com/go-gitea/gitea

API.
https://github.com/go-gitea/go-sdk

[2019-04-16 16:42] pd4d10 commented on #5
Great! GitTouch is designed to support multiple platforms, although only GitHub is supported just now.

Pull request is very welcome

[2019-09-01 19:52] 532910 opened #6 "Add to f-droid"
Please add it to F-Droid

https://gitlab.com/fdroid/rfp

[2019-10-05 19:58] evillt opened #7 "[UI problem]: iOS bold text."
In iOS, the font looks a bit tight. Can we fix this?

## Screenshot

### Bold text size:

![0AC80A85CF3C36043B9195F64AD39794](https://user-images.githubusercontent.com/19513289/66260091-a0f1a580-e7ec-11e9-912f-14ada10a58f3.JPG)

### Normal size:

![58B01C6CDF5A120035FFC56B3980F737](https://user-images.githubusercontent.com/19513289/66260101-bcf54700-e7ec-11e9-9538-11d56273f1d3.JPG)

[2019-10-06 02:13] pd4d10 commented on #7
@evillt Thanks! Could you please provide your iOS version?

Probably related to https://github.com/flutter/flutter/issues/41101

[2019-10-06 04:02] evillt commented on #7
My mistake.

ios 13.1.2

Agree with "Probably related to flutter/flutter#41101"

[2019-10-09 14:52] gluons opened #8 "[Feature Request] Dark Mode"
I hope we can have dark mode in the future. 🙂

[2019-10-13 02:25] anticafe opened #9 "Add repo name under issue name in the Toolbar"
![image](https://user-images.githubusercontent.com/340836/66710054-20f2af00-ed9b-11e9-839b-1e9ffd78432c.png)

When I open the issue detail, it's hard to know which repo it belongs to. Thus, I suggest you add the repo name as subtitle of the Toolbar.

[2019-10-13 03:28] pd4d10 commented on #9
It's reasonable. But if the repo name is long enough, the whole title bar will be filled with text and seems be a little tight.

Probably we need a new UI design for it. Let's keep it open for more discussion.

[2019-10-13 03:29] pd4d10 commented on #6
Good point. We'll try to submit it to F-Droid at next release.

[2019-10-25 15:07] AZn5ReD opened #12 "Dark mode"
Could you please create a dark mode?

[2019-10-29 00:52] keithbrianptomo commented on #12
?

[2019-10-30 12:57] zcuric opened #13 "Any plan for new updates and releases?"
Hi, great app! I really like it, so much to be exact, that I went and looked into Dart and Flutter to learn to contribute to it.

What are you plans for new releases? Will you keep updating?

[2019-10-30 13:07] pd4d10 commented on #13
Yes, It is being actively developed.

If you have any idea please submit an issue, I'm glad to discuss about it

[2019-10-30 13:14] zcuric commented on #13
Very nice! I'm glad to hear that.

I notice several things:
- events are not implemented
- markdown doesn't work, at least not on Android.

[2019-10-30 13:14] pd4d10 commented on #13
In the long term, we want to support more platforms other than GitHub, for example GitLab(#4) and Gitea(#5). These would require lots of work.

If you want to get started, I think #2 or #3 might be a good option

[2019-10-30 13:15] zcuric commented on #13
Ok, nice, any suggestion for a good Flutter learning tutorial?

[2019-10-30 13:18] pd4d10 commented on #13
Oh, I'm not sure, probably [the official tutorial](https://flutter.dev/docs/reference/tutorials) is a good start?

[2019-10-30 13:20] zcuric commented on #13
👍

[2019-10-30 13:20] #13 closed

[2019-10-30 13:23] pd4d10 commented on #12
Hi, @AZn5ReD @keithbrianptomo Thanks for your suggestion!

If I don't get it wrong, it is the same as #8. Let's discuss it there

[2019-10-30 13:23] #12 closed

[2019-11-17 10:04] gedw99 opened #14 "Gitea"
This is an amazing codebase.
A few bugs but I am wondering if you are open to help on supporting gitea ?

[2019-11-17 10:11] pd4d10 commented on #14
Thanks for your suggestion! Let's discuss it at #5

[2019-11-17 10:11] #14 closed

[2019-11-17 10:15] gedw99 commented on #5
Thanks.

Gitea is really nice and is 100% in golang and really has a huge community. So it's not going away.
I program golang and flutter and so can help on both sides.

I just saw the build.yaml for types.
Gitea probably has more types than GitHub. But not sure.

[2019-11-17 10:19] pd4d10 commented on #5
PRs are welcome. Feel free to ping me if you get stuck @gedw99

[2019-11-17 10:21] gedw99 commented on #5
Thanks. Will do.

[2019-11-17 10:40] gedw99 commented on #5
gitea has search and search subscriptions also.
SO we can plug into the flutter notifications that git-touch uses.
SO i am wondering how you want the notifications pushed web sockets or ?

[2019-11-17 11:30] pd4d10 commented on #5
@gedw99  Currently we don't have pushed service. We use HTTP APIs, which means that users need to open the app and do refresh to see the latest notifications.

This is a point which can be optimized. Does Gitea support such pushed service?

[2019-11-19 23:55] gedw99 commented on #5
Gitea supports push.
So it should work.

Gitea being written in golang makes it really easy to extend.
There is also a management Ali and cli to configure many gitea repos at
once

So it should be pretty easy to innovate

On Sun, 17 Nov 2019, 12:30 Rongjian Zhang, <notifications@github.com> wrote:

[2019-11-20 02:38] pd4d10 commented on #5
OK, sounds great!

Feel free to comment here if you have any plan.

[2019-12-02 06:51] sweepty opened #15 "Please delete this issue"
Sorry. This issue is my mistake. Please delete this issue. Thank you.

[2019-12-02 07:00] #15 closed

[2019-12-05 08:51] Tydox opened #16 "IOS 13 Dark mode"
wonderful app, any plans to add system dark mode?

[2019-12-05 09:10] pd4d10 commented on #16
Thanks for your report!. Let's tracking this issue at #8

[2019-12-05 09:10] #16 closed

[2019-12-05 09:15] pd4d10 commented on #8
Yeah, we have already implemented it at master. But it is not finished yet.

[2019-12-12 16:46] maxloh opened #17 "[UI] Put watch, star and fork icon action to repo page"
Hi. Would you consider putting watch, star and fork action in the repo page instead of the three dot menu?

User may press the star/watch/fork icon to star/watch/fork a repo and press star/watch/fork count to view watchers/stargazers/forks of a repo.

![screenshot-android](https://user-images.githubusercontent.com/35831069/70731223-5129e000-1d41-11ea-8a5c-d6d724dd9fe7.png)

[2019-12-26 05:16] linsui commented on #6
Hi, could I open an rfp so that F-Droid guys will tell if there is any blocker?

[2019-12-26 06:34] 532910 commented on #6
Sure!

[2019-12-26 06:51] linsui commented on #6
[Here](https://gitlab.com/fdroid/rfp/issues/1180) is the rfp. 😄

[2019-12-26 08:58] pd4d10 commented on #6
Thanks! @linsui

Feel free to ping me if I can help.

[2019-12-28 20:17] IzzySoft commented on #6
@pd4d10 here comes the ping… F-Droid maintainer here. Thanks for submitting your app to our catalog! We have a few minor issues which you hopefully can solve with ease:

* can we have [Fastlane file structure](https://gitlab.com/snippets/1895688) in the app's repo? That way there could be screenshots visible in the catalog (client and website) – and you could maintain summary/description to keep t

[2019-12-29 06:36] pd4d10 commented on #6
Hi, @IzzySoft, Thanks for your quick response!

I'll check these issues you mentioned ASAP.

Would F-Droid build the release APK from source, or just take it from Google Play or GitHub release?

[2019-12-29 06:38] linsui commented on #6
F-Droid build the release APK from source.

[2019-12-29 12:05] IzzySoft commented on #6
As @linsui wrote: F-Droid builds from source only, no "blobs" permitted (i.e. also no `.aar` or `.jar` files – **everything** must be built from source, including all dependencies. A few trusted Maven repos are the exception as they have been "verified" and ship the source they built from along).

That's for the main repo. There's also [my repo](https://apt.izzysoft.de/fdroid), which acts as kind

[2020-01-09 09:48] winwisely99 commented on #5
Add Project Screen using https://github.com/PonnamKarthik/FlutterTrelloCards
SO we have Project KanBan like Github. Gitea is added it right now too

[2020-01-18 23:15] lcol3117 opened #20 "[feature improvement] Allow language viewing"
On the github webpage for a repo, a colored bar is displayed that represents the amount of different languages the repo uses. On the web desktop version, clicking on it yields percentages and the languages, not just colors. Although this bar exists on the app, there is no way to see which languages the colors correspond to.

[2020-01-25 13:27] MarkintoshZ opened #21 "Unable to open pdf file"
opening pdf file leads to red error screen in flutter. At least a “pdf file cannot be open” page should display in such scenario

[2020-01-28 06:37] pd4d10 commented on #8
It has been implemented in the latest v1.2.0, which supports both iOS and Android.

Thanks for your feedback!

/cc @gluons @AZn5ReD @Tydox

[2020-01-28 06:43] pd4d10 commented on #7
Hi @evillt , GitTouch v1.2.0 is released, which is built with Flutter 1.12.13+hotfix (the latest stable version).

Seems there is still an issue (https://github.com/flutter/flutter/issues/43998).

If it is still not fixed, let's keep it open to track this

[2020-01-28 06:45] pd4d10 commented on #20
Hi, @lcol3117 , thanks for the feedback!

It should have been fixed in the latest v1.2.0. Please give it a try

[2020-01-28 06:47] pd4d10 commented on #20
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-01-28 at 14 46 33](https://user-images.githubusercontent.com/9524411/73241448-fe1ac800-41dc-11ea-8a12-c66cfa91b329.png)

[2020-01-28 06:50] gluons commented on #8
![Thank you](https://media.giphy.com/media/3oz8xIsloV7zOmt81G/giphy.gif)

[2020-01-28 14:04] lcol3117 commented on #20
This is great! Thank you so much!

[2020-01-28 14:04] #20 closed

[2020-01-29 01:21] gluons commented on #8
There are some problems when use dark mode.

1. Token input is complete dark. Unable to see what I type in that input.
   ![Screenshot_2020-01-28-20-24-57-865_io github pd4d10 gittouch](https://user-images.githubusercontent.com/4688092/73319703-c14be100-426f-11ea-9522-47dddfc90d35.jpg)

2. Code theme picker is dark. Unable to see what I select.
   ![Screenshot_2020-01-28-20-26-44-841_io github pd4

[2020-01-31 02:46] pd4d10 opened #22 "Android dark mode style issue"
/cc @gluons

There are some problems when use dark mode.

1. Token input is complete dark. Unable to see what I type in that input.
   ![Screenshot_2020-01-28-20-24-57-865_io github pd4d10 gittouch](https://user-images.githubusercontent.com/4688092/73319703-c14be100-426f-11ea-9522-47dddfc90d35.jpg)

2. Code theme picker is dark. Unable to see what I select.
   ![Screenshot_2020-01-28-20-26-44-841_

[2020-01-31 02:48] pd4d10 commented on #8
Thanks for your feedback!

I'm going to close this issue since dark mode is already implemented.

Let's track the issue of Android dark mode style in #22

[2020-01-31 02:48] #8 closed

[2020-01-31 03:03] pd4d10 opened #23 "Non-ASCII directory not working"
### Screenshot

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-01-31 at 11 01 50](https://user-images.githubusercontent.com/9524411/73509147-1b3bda80-4419-11ea-8a4e-f2c2ee91dcdb.png)

[2020-01-31 07:54] pd4d10 opened #24 "Code view tab size"
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-01-31 at 15 53 32](https://user-images.githubusercontent.com/9524411/73521822-f3ad3800-4441-11ea-9b39-c5de01c5d15b.png)

[2020-01-31 18:18] Lukas-Batema opened #25 "cannot view org reps"
can you add this

[2020-01-31 18:19] Lukas-Batema opened #26 "cannot edit any reps that user owns (org's or self )"
can u add this

[2020-01-31 19:47] zcuric opened #27 "text not visible"
I can't see what I'm typing or selecting o  light and dark mode

[2020-02-01 15:13] pd4d10 commented on #27
Seems be the same issue with #22, closing

[2020-02-01 15:13] #27 closed

[2020-02-01 15:14] pd4d10 commented on #22
Should have been fixed in v1.3.0

/cc @gluons @zcuric

[2020-02-01 15:15] pd4d10 commented on #23
Fixed in v1.3.0

[2020-02-01 15:15] #23 closed

[2020-02-01 15:19] pd4d10 commented on #21
Hi, @MarkintoshZ , it should have been fixed in latest v1.3.0.

Currently we just let system browser to handle PDF files. Perhaps we should add a built-in PDF viewer in the future.

[2020-02-01 15:27] pd4d10 commented on #5
Hi @gedw99 , Gitea support has been integrated in the latest v1.3.0.  🎉

The feature of Gitea is very simple now, and we could add more features gradually.

Looking forward to your feedback!

[2020-02-01 15:28] pd4d10 commented on #4
Added in v1.3.0

[2020-02-01 15:28] #4 closed

[2020-02-01 15:39] pd4d10 opened #28 "[gitlab] file content view error"
Error message: 404 Commit not found

Caused by hard coded `ref=master`

[2020-02-02 02:24] #22 closed

[2020-02-02 02:24] #21 closed

[2020-02-02 02:24] #5 closed

[2020-02-02 03:58] pd4d10 opened #29 "Supported platforms status"
GitTouch app is designed to support multiple accounts from different platforms. Added this issue to track supported platforms status.

Please comment here if the git service you are using is not listed in the table below.

✅: Done
🚧: Working in progress
💬: In review

| Platform  | Public service | API documentation   | Status |
| - | - | - | - |
| GitHub    | https://github.com   | [v3(RESTful)](h

[2020-02-02 06:34] evillt commented on #7
Awesome!

[2020-02-02 06:34] #7 closed

[2020-02-03 22:43] bluelovers opened #30 "can't posr reply in issue?"
issus looks like is readonly mode
only can open web browsers for reply?

[2020-02-07 06:17] #24 closed

[2020-02-08 05:37] pd4d10 opened #31 "Reaction for organization repository not working"

[2020-02-09 02:35] pd4d10 commented on #28
Should have been fixed in v1.4.0

[2020-02-09 02:35] #28 closed

[2020-02-09 02:37] pd4d10 commented on #25
Hi, @Lukas-Batema , it should have been fixed in v1.4.0. Thanks!

[2020-02-09 02:37] #25 closed

[2020-02-09 02:46] pd4d10 commented on #9
Hi, @anticafe , it seems a bit wired to fill the title bar with repo name if it is too long. So we add a row to show this information. Does this meets your needs?

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-02-09 at 10 41 52](https://user-images.githubusercontent.com/9524411/74095267-621c8500-4b29-11ea-98c8-635461c571a4.png)

[2020-02-09 02:56] pd4d10 commented on #17
Hi, @maxloh , thanks for your feedback! Because the count area tap event is to go to watchers/stargazers screen, so we add an extra row to do watch/star action. Does this meet your needs?

The fork action is not ready yet, because it is related to code editing and pull requests creating, and these processes have not been implemented in this app yet.

### Screenshot

![Simulator Screen Shot - iPhon

[2020-02-09 05:11] shreyas1599 commented on #2
@pd4d10 In the news section, only some of the events are visible. Is there any way to modify this so as to verify whether the code I'm writing for the event handlers works as intended? For example, the `FollowEvent` does not appear in my News tab.

[2020-02-09 05:25] pd4d10 commented on #2
@shreyas1599 Thanks for your contribution!

I've checked the [API documentation](https://developer.github.com/v3/activity/events/types/#followevent) again:

It seems a strategy of GitHub itself. Perhaps we only need to handle the available types.

[2020-02-09 05:40] shreyas1599 commented on #2
@pd4d10 Thanks for pointing this out. I'll complete the available types first. We could write for the unavailable types as well. Users for whom these events appear in their news could file an issue if there's an error in what we've written as we cannot test these.

[2020-02-09 06:22] anticafe commented on #9
Hi @pd4d10 Your new design looks nicer. 👍

[2020-02-09 06:42] shreyas1599 commented on #2
@pd4d10 I was trying to fill the `LabelEvent`. In order to get the name of the `label` I tried adding a JsonSerializable`GithubEventLabel` class and extracting the label `name` from that. It throws an error. Am I approaching this correctly? Also, should I regenerate the `github.g.dart` file after running using `flutter packages pub run`?  I tried that as well. I'm new to this, any help is apprecia

[2020-02-09 06:46] pd4d10 commented on #2
Year, the `.g.dart` file is generated by `build_runner`. Try [this script](https://github.com/pd4d10/git-touch/blob/master/dev.sh)

[2020-02-09 07:43] #9 closed

[2020-02-10 20:54] maxloh commented on #17
The user interface in v1.4.0 meet my needs, but it would be better if you could put action buttons next to the count area.

Thank you.

[2020-02-11 02:44] pd4d10 commented on #17
OK. Considering the mobile screen small size, we didn't put them together as the GitHub website does.

Thanks for your feedback! Feel free to open another issue if there are other problems.

[2020-02-11 02:44] #17 closed

[2020-02-11 13:00] phillipthelen opened #35 "Quickly switch between accounts"
Currently it is unfortunately not possible to quickly switch between accounts. Maybe something like long-pressing the "Me" tabbar item could bring up an account switcher?

If this idea is liked, I could also work on this myself!

[2020-02-11 13:14] pd4d10 commented on #35
Thanks! I think it's a good idea.

[2020-02-11 13:14] pd4d10 commented on #35
Feel free to ping me if you get stuck

[2020-02-12 09:57] phillipthelen opened #37 "Scrollbar appears in wrong place on profile view when scrolling contribution graph"
Instead of appearing over/directly under the graph, the scrollbar appears on the bottom of the view as seen in the screenshot. Not sure if this also happens on Android.

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-02-12 at 10 55 46](https://user-images.githubusercontent.com/298062/74323849-70b3a800-4d86-11ea-902b-a3ebacfbdaf2.png)

[2020-02-12 17:02] shreyas1599 opened #38 "Contribution graph not displayed correctly on iPad"
Contribution graph currently is aligned right on iPad in both Landscape and Portrait mode. Would look better if it is centred or aligned left.

## Portrait
![image](https://user-images.githubusercontent.com/28999492/74358376-5b229a80-4de7-11ea-9254-293ee2755006.png)

## Landscape
![image](https://user-images.githubusercontent.com/28999492/74358394-61b11200-4de7-11ea-8f81-9d65b771fd0f.png)

[2020-02-13 06:10] pd4d10 commented on #38
Nice catch!

Although iPad is already supported, it is not fully tested. Perhaps we need to redesign the iPad UI... But it seems to be a huge project.

Agreed with you.

[2020-02-13 12:14] shreyas1599 commented on #38
I could work on testing the iPad and fixing this and others I encounter. Other components looked fine so far, so I guess we won’t have to redesign it.

[2020-02-19 14:15] ghost opened #40 "[Feature Request] Set a certain tab as home/starting tab"
To clarify, my news feed is completely empty, since I only watch repositories for releases. On the other hand, my notifications often have something new coming in. Thus, it makes much more sense for me to start up the app and immediately see the notifications tab. Perhaps in the future?

Thank you for your consideration, and your work on this app!

[2020-02-23 18:17] ElleshaHackett commented on #29
Hi,
Looks like a great app. I'd love to see Gogs supported. I think Gogs is the parent of the Gitea fork so it should not be too hard to support Gogs as well.

Gogs also supports the Authentication Tokens just like Gitea.

[2020-02-24 03:10] pd4d10 commented on #29
Hi, @ElleshaHackett , thanks for your suggestion!

Gogs Added. I found this [API doc](https://github.com/gogs/docs-api) for Gogs, is it correct?

[2020-02-24 09:53] ElleshaHackett commented on #29
Hi @pd4d10,
Thanks a lot. I suppose that is correct. Both repositories are owned by the same user @gogs. I currently use https://github.com/gogs/gogs and its `README.md` indeed links to https://github.com/gogs/docs-api for the API docs. I look forward to see this supported.

[2020-02-26 04:07] #38 closed

[2020-02-29 05:32] pd4d10 opened #42 "Do not reload screen on Android bottom tab switch"
Feedback from email

[2020-02-29 05:35] pd4d10 commented on #42
It is the default behavior of the built-in Material Scaffold widget. Perhaps we could do something to avoid it.

[2020-03-13 08:39] anticafe commented on #42
I'm not sure if this article is helpful to let the tabs persistent: https://medium.com/fluttervn/making-bottom-tabbar-with-flutter-5ff82e8defe0

[2020-03-14 23:07] IzzySoft commented on #6
@pd4d10 any news on this? The corresponding RFP is still stalled…

[2020-04-01 07:46] ANTi7kZ opened #44 "Email with periods"
I am unable to log in because my email has a period before the @. this registers as an error.
is there a way around this?

[2020-04-01 07:46] ANTi7kZ opened #45 "Email with periods"
I am unable to log in because my email has a period before the @. this registers as an error.
is there a way around this?

[2020-04-01 07:46] ANTi7kZ opened #46 "Email with periods"
I am unable to log in because my email has a period before the @. this registers as an error.
is there a way around this?

[2020-04-01 07:52] pd4d10 commented on #46
Hi, @ANTi7kZ , thanks for the feedback!

Not quite sure what the problem is. Could you please post a screenshot?

[2020-04-01 07:53] pd4d10 commented on #45
Seems duplicated to #46, closing

[2020-04-01 07:53] #45 closed

[2020-04-01 07:53] #44 closed

[2020-04-01 08:01] ANTi7kZ commented on #46
Sorry for being vague. When I try to log in with my email, I get the error as shown in the attached screenshot. Thanks.

![IMG_4988](https://user-images.githubusercontent.com/7269282/78113143-4917ae00-73cd-11ea-8f9f-52c7e2e7d16b.jpg)

[2020-04-01 13:17] pd4d10 commented on #46
Hi, @ANTi7kZ  I've tried to locate this problem and it seems none of these inputs is for email.

Could you please provide the platform for your account? Is it BitBucket?

In the BitBucket case, **username** should be provided instead of email.

[2020-04-01 23:35] ANTi7kZ commented on #46
Yeah, it is BitBucket. Okay, I will try with just the username (which I thought was the email tbh). I'll update when I try this.

Thanks.

[2020-04-02 01:28] ANTi7kZ commented on #46
I just attempted (with my username == olatide.omojaro) and it resulted in a "Something bad happens: status 401" error.

[2020-04-02 02:45] pd4d10 commented on #46
I guess you might use **password** instead of **app password**. Storing your password at local may cause a security risk.

For more details, see https://confluence.atlassian.com/bitbucket/app-passwords-828781300.html

[2020-04-03 06:28] ANTi7kZ commented on #46
Yeah, definitely as App password would be the way to go. Just to cover all bases, I did try with my regular password and it didn't work either.
So, I decided to just change my username on BitBucket to do without the period, and I was able to add my account.
Thank you so much for your time and efforts. Cheers!

[2020-04-03 06:28] #46 closed

[2020-04-04 15:12] maxloh opened #47 "Star and unstar button sometimes not working"
Pressing star and unstar button in repo page sometimes does nothing

Demo video:
https://imgur.com/a/ZHyHcs2

In the video, I press star button multiple times.
The button was expected to be replaced by unstar button, but nothing happens.

[2020-04-05 14:18] pd4d10 commented on #47
Hi, @maxloh , thanks for the feedback!

It seems caused by GitHub's token scope policy update. The solution would depend on the login approach:

1. Login with OAuth: Go to **Me** -> **Switch accounts** to login again. It would ask you the extra `notification` permission and please say yes.
2. Login with token: Go to https://github.com/settings/tokens and find the token used in GitTouch, add `notif

[2020-04-05 14:49] pd4d10 opened #48 "[gitlab] add starrers screen"
Similar to members screen(`lib/screens/gl_members.dart`)

API: https://docs.gitlab.com/ee/api/projects.html#list-starrers-of-a-project

[2020-04-05 18:19] maxloh commented on #47
I tried the mentioned steps but the problem persists.

Clearing app data and login again cannot solve the problem too.

[2020-04-06 03:06] pd4d10 commented on #47
Oh, there seems another problem with organization repo.

I'll try to fix this in the next release.

[2020-04-06 06:58] #48 closed

[2020-04-07 15:12] shreyas1599 commented on #2
Sorry for replying so late. I'm working on it now. There a lot of events which are either not visible in timelines or are only used to trigger hooks. Should I include only those which appear in the user's timeline?

[2020-04-07 15:17] Meshellegregory commented on #2
Not understanding why you sent me this. Explain yourself

Sent from Yahoo Mail for iPhone

On Tuesday, April 7, 2020, 11:13, Shreyas Thirumalai <notifications@github.com> wrote:

Sorry for replying so late. I'm working on it now. There a lot of events which are either not visible in timelines or are only used to trigger hooks. Should I include only those which appear in the user's timeline?

—
You

[2020-04-07 15:54] pd4d10 commented on #2
@shreyas1599 Yeah, I think so. It seems hard and unnecessary to cover all these events.

[2020-04-07 19:32] shreyas1599 opened #50 "[Android] App loads in light mode always"
Even if dark mode has been set, the app starts in light mode and then immediately switches to dark mode.

Attaching pictures for reference:

![photo_2020-04-08_01-00-58](https://user-images.githubusercontent.com/28999492/78711339-6e0fa200-7934-11ea-9fac-397e4e8695bd.jpg)
![photo_2020-04-08_01-01-01](https://user-images.githubusercontent.com/28999492/78711346-710a9280-7934-11ea-967f-c254d096e921.jp

[2020-04-08 02:51] #2 closed

[2020-04-08 10:45] shreyas1599 commented on #37
Happens on Android as well. I tried finding a way to hide the scrollbar but could not find a way to do so. I even tried changing widgets but the scrollbar always sticks to the bottom.

[2020-04-08 12:39] #3 closed

[2020-04-08 18:52] shreyas1599 commented on #50
For some reason, it works now. I think the splash screen(which is white) and the home page were loading on top of each other or something of the sort.  I'm closing this issue. On another note, @pd4d10 I think it'd be a good idea to have a splash screen. What do you think? I can add it.

[2020-04-08 18:52] #50 closed

[2020-04-09 03:03] pd4d10 commented on #50
Agreed

[2020-04-10 18:33] shreyas1599 opened #53 "Contributor Screen"
@pd4d10 I'm trying to create a contributor screen within a repository. (So far, I've only managed to get the count of contributors and displayed it on the `GhRepoScreen`). I can do this only through REST and not GraphQL. What do you think is a better option?

1. Make the API call in the `GhUsersScreen` or the `GhCommitsScreen` and use an `if` condition to decide whether to make a graphql(for other

[2020-04-10 18:45] shreyas1599 opened #54 "Return to home once tab in bottom bar is clicked"
In the `Cupertino` theme while navigating within a tab bar, on clicking the bottom bar when inside a particular bottom bar item, we could return to the home screen. This is especially useful when you are inside a repository and have to go back several times to return to the home screen.

## Example:

This is home.

![image](https://user-images.githubusercontent.com/28999492/79014559-c6d77880-7b88-

[2020-04-11 04:42] pd4d10 commented on #53
Do you mean something like this? https://github.com/git-touch/git-touch/graphs/contributors

If so, perhaps it is simpler to create a separate screen?

Yeah, it's right. The `cursor` name comes from GraphQL pagination, in which case it is a `string`. It is designed to be a generic type so could be used in RESTful API too, in which case it is a `number`

[2020-04-11 04:50] shreyas1599 commented on #53
Alright, thanks a lot!

[2020-04-11 05:00] pd4d10 commented on #54
Good point. I think we could do this!

[2020-04-11 20:07] shreyas1599 opened #57 "Back Button closes App"
On Android, while using the `Cupertino` theme, if the back button of the device is used instead of the back button of the app, the app closes. Don't think this is supposed to happen.

[VIdeo demo](https://imgur.com/a/i7xHM7d)

[2020-04-11 20:20] shreyas1599 opened #58 "Add Organizations of a user"
Currently, the organizations a user belongs to is not displayed. Also, if a repo belongs to an organization instead of an individual as is the case with this repo, the link of the organization won't work.

So we need an organization screen and on the profile page, the list of organizations the user is a part of. Where do you think we could place it? (It'd just be a row(s) of profile pictures)

![i

[2020-04-12 03:03] pd4d10 commented on #58
I'm not sure. Seems both would be OK?

[2020-04-12 19:53] shreyas1599 commented on #58
@pd4d10 I need some help. I'm trying to add the organization connection in `gh_user.graphql`. Under `repositoryOwner` and inside `... on User` is where I'm trying to place it. But for some reason it affects the results of `... onOrganization` in `gh_user.dart`. Am I doing anything wrong?

[2020-04-13 02:40] pd4d10 commented on #58
It seems an issue of the artemis lib: https://github.com/comigor/artemis/issues/18

I tried to upgrade its version before but got another problem: https://github.com/comigor/artemis/issues/63#issuecomment-590172267

[2020-04-13 03:20] shreyas1599 commented on #58
Alright. Also in the `org_repo`
screen some organizations have to enable permission for us to be able to fetch details. For example, I'm able to view the Google organization but not the git touch organization (it is stuck on loading forever). Do you think if would be good to add a timeout option and tell display a pop-up telling the user about this? But as far as I know you are already displaying

[2020-04-13 05:09] pd4d10 commented on #58
I'm not sure if the permission you mentioned is related to this:

https://github.com/git-touch/git-touch/blob/805f065def16e008d65d5fc230eb1a212df93319/lib/screens/gh_org_repos.dart#L10-L15

We have changed it from GraphQL to RESTful API to avoid the access restriction.

[2020-04-13 05:09] pd4d10 commented on #58
Agreed. We could have one.

[2020-04-13 06:05] shreyas1599 commented on #58
Yeah, I saw this but for some reason it still doesn't load even though the organization is public( I'm talking about git-touch). Timeout sounds like a hacky fix for now. Doesn't point to the underlying problem.

[2020-04-15 20:45] shreyas1599 opened #60 "Deep links support"
We need to be able to open external links with the app.

[2020-04-16 02:54] pd4d10 opened #61 "Figure out a way to do beta testing"
The release period is long and the features we added might not be fully tested.

* iOS: TestFlight
* Android: ?

[2020-04-16 03:29] #57 closed

[2020-04-16 03:30] shreyas1599 commented on #61
I'm not sure but for Android wouldn't you have to do something like this: [Open Beta](https://support.google.com/googleplay/android-developer/answer/3131213?hl=en#open_beta)?

[2020-04-16 03:33] #54 closed

[2020-04-16 05:09] shreyas1599 commented on #61
We could also add a link to the beta in settings. While at it, do you think it'd be good to add an FAQ for commonly faced permission problems? You also said you'd like to include ways to help the user find out about the long press in #36? We could add that as well. Should I open a separate issue for this?

[2020-04-16 05:44] pd4d10 commented on #61
is it meant to be in README or in the app?

[2020-04-16 05:53] shreyas1599 commented on #61
I think app would be better

[2020-04-16 05:57] pd4d10 commented on #61
OK, get it. Let's open a new issue for this feature.

[2020-04-16 05:59] shreyas1599 opened #62 "FAQ on app"
FAQ for commonly faced problems on the app and information about certain features.

[2020-04-22 16:44] shreyas1599 opened #63 "Scroll to top on tab button click"
When in a particular tab, after scrolling down a lot, if the tab button is clicked, app scrolls all the way to the top instead of the user scrolling all the way back up. I got the idea from Twitter and Instagram which implement this.

[2020-04-23 11:58] shreyas1599 opened #66 "Support for gists"
Add user's gists in the profile section.

[2020-04-24 14:00] AndreiJirohHaliliDev2006 opened #67 "Add the Search tab for GitLab"
Roaming around GitLab with GitTouch is hard, can you add the Search tab for GitLab?

[2020-04-24 15:32] shreyas1599 commented on #67
@pd4d10 Can I do this? Per [this](https://docs.gitlab.com/ee/api/search.html), there are many scopes, but I should do only projects, issues and users, similar to github right? Also, do you have any intent in migrating to graphql?(this one though can only be done through REST)

[2020-04-24 15:48] pd4d10 commented on #67
@shreyas1599 Sure, that would be great.

[2020-04-25 07:59] pd4d10 opened #68 "New logo design?"
The current logo is from [Octicons](https://primer.style/octicons/git-merge). In some cases, it looks a little wired because of its asymmetrical (For example, the Android round icon).

The new logo aims to have design elements as follows:

* Git (Or its related concepts such as commit and merge)
* Dart/Flutter ([official logo assets here](https://drive.google.com/drive/folders/1KXNtO9My2AMpDOF9A9Y

[2020-04-25 08:00] pd4d10 opened #69 "Make it work for desktop and web"
https://flutter.dev/web

https://flutter.dev/desktop

[2020-04-25 10:31] #53 closed

[2020-04-25 12:28] #40 closed

[2020-04-25 12:37] AndreiJirohHaliliDev2006 commented on #67
@shreyas1599 So, in the global search, we only pull `projects`, `users`, and issues` s scopes to search. And speaking of GraphQL, maybe we can ask GitLab about migrating to GraphQL like what GH does?

[2020-04-25 12:41] shreyas1599 commented on #67
Yeah, they have graphql support only for a few API's. They're slowly adding them, I think.

[2020-04-25 12:48] shreyas1599 commented on #69
While at it, we could also fix inconsistencies on iPad.

[2020-04-25 12:53] shreyas1599 commented on #30
@pd4d10 This seems to me the most important issue of all. Every time I try to reply to your review/comment on an issue/PR, I have to open the browser or my computer :/ I think I'll work on this first.

[2020-04-28 16:59] #58 closed

[2020-04-29 15:40] shreyas1599 opened #74 "Files changed screen in a PR"
Hi @pd4d10,
So I'm trying to add a `Files Changed Screen` instead of redirecting to the web. This is an example [response](https://api.github.com/repos/git-touch/git-touch/pulls/72/files).

The modified text is in `patch`.

`\n` followed by + indicates an addition and similarly `\n` followed by - indicates deletion.

My idea is to split it on `\n` and every list item that starts with a `+` I'm thi

[2020-04-30 02:47] pd4d10 commented on #74
Perhaps `flutter_highlight` package could do some help:

[code]

[2020-04-30 10:27] shreyas1599 opened #76 "Open and closed tabs for pull requests and issues"
We could implement this.

[2020-04-30 10:35] shreyas1599 commented on #61
Any plans on doing this soon?

[2020-04-30 16:04] #74 closed

[2020-05-01 23:06] aseef17 opened #78 "Exception while logging in"
FormatException: Invalid character exception thrown when **@** symbol is being used in the password.

[2020-05-01 23:27] aseef17 opened #79 "Blank profile screen for BitBucket"
The user section (Team/Me) section just shows a blank screen for a BitBucker user

![image](https://user-images.githubusercontent.com/26878414/80848590-5bd20c80-8c31-11ea-822f-ac01dd6f0d51.png)

[2020-05-02 03:02] pd4d10 commented on #78
BitBucket calls it **app password** (not password)

See https://github.com/git-touch/git-touch/issues/46#issuecomment-607590375

[2020-05-02 03:04] pd4d10 commented on #79
Oh, it's wired. Is this BitBucket instance https://bitbucket.org or self-hosted? Could you please provide your BitBucket username?

[2020-05-02 04:06] aseef17 commented on #79
That’s the bitbucket instance
My username is aseef_boilerplate

[2020-05-02 05:03] pd4d10 commented on #61
Trying to make it work this week...

[2020-05-02 05:10] shreyas1599 commented on #79
@pd4d10 I just noticed this as well. Attaching a screenshot. Must be because of no avatar.

![image](https://user-images.githubusercontent.com/28999492/80855730-2f35e900-8c61-11ea-905f-3d8507c5c9b1.png)

[2020-05-05 21:09] aseef17 commented on #79
I don’t suppose that’s the problem. I added a profile image, removed and added my account again but I still have the same blank grey screen

[2020-05-05 21:12] shreyas1599 commented on #79
@aseef17 Are you using the release version on play/app store or have you built it by yourself? As I've mentioned in my comment, the latest master branch works fine while there's a problem with the release.

[2020-05-05 21:13] aseef17 commented on #79
Using the release version from App Store. I wouldn’t mind side loading but it’s just too much of a hassle to refresh Apple app ID every 7 days or the app becomes non-functional

[2020-05-05 21:16] shreyas1599 commented on #79
@pd4d10 is planning to release it on test flight soon. You could use that when it's available.

[2020-05-06 10:20] shreyas1599 commented on #66
@pd4d10 I could use some help. Consider the json output for getting [gists](https://api.github.com/users/shreyas1599/gists).

`Files` is another json and not a list. I'm having trouble serializing this. The Spinlocklabs `github.dart` declares it as a list which is wrong and results in an error. I've opened an issue there. This is what I've done for now.

[code]

But making `fileNames`dynamic is cr

[2020-05-06 10:27] pd4d10 commented on #66
What's the error message (or error stack)?

[2020-05-06 11:28] shreyas1599 commented on #66
`type 'MappedListIterable<dynamic, dynamic>' is not a subtype of type 'Iterable<ObjectTreeItem>'`

[2020-05-06 11:54] pd4d10 commented on #66
How about using `files.values()`?

[2020-05-06 11:55] pd4d10 commented on #66
Or `files.entries()` if you want the key too

[2020-05-06 12:18] shreyas1599 commented on #66
Doesn't work. Still getting the same error. If I try to use `files.values` I'm getting the same error as above. But for `fileNames.values` the error is:

`Class 'List<dynamic>' has no instance getter 'values'. Receiver: Instance(length:1) of '_GrowableList'. Tried calling: values`

[2020-05-06 13:18] pd4d10 commented on #66
Oh, my mistake. `values` and `entries` are getters, not methods.

[2020-05-06 13:19] pd4d10 commented on #66
Perhaps you could submit a WIP pull request so I could help to check it.

[2020-05-06 13:46] shreyas1599 commented on #66
A WIP pull request is a draft pull request right?

[2020-05-08 00:27] #78 closed

[2020-05-08 11:07] shreyas1599 opened #82 "Error using already used personal token on gitlab"
I didn't realise that you cannot use the same token for the same app on different devices for gitlab. When a wrong token is used, as expected a 404 error is returned. But when you use an already used token the following error occurs. The only way to resolve this is to uninstall and re-install the app. Probably a gitlab bug but we should handle the error better and allow the user to enter a differe

[2020-05-08 20:14] shreyas1599 opened #84 "Option to make account primary"
@pd4d10 Doesn't seem too hard. I'd just have to use a `ReorderableList`. I'll open a PR for this if it's alright with you.

[2020-05-09 05:25] pd4d10 commented on #82
I could not reproduce it. If an invalid token submitted:

![image](https://user-images.githubusercontent.com/9524411/81464927-8ce5aa80-91f8-11ea-8c6a-147027343433.png)

[2020-05-09 05:28] shreyas1599 commented on #82
Not an invalid token. Use a token which was already used on another device. Should I share my token here?

[2020-05-09 05:29] pd4d10 commented on #82
I don't think so. That would be unsafe.

[2020-05-09 05:32] shreyas1599 commented on #82
You could try the token you used on an actual device on a simulator or the other way round?

[2020-05-09 05:32] pd4d10 commented on #82
I commented on the PR you submitted. We could discuss there

[2020-05-09 05:37] #67 closed

[2020-05-09 06:43] #82 closed

[2020-05-09 07:48] pd4d10 commented on #61
Android: https://play.google.com/apps/testing/io.github.pd4d10.gittouch

[2020-05-09 14:45] pd4d10 commented on #67
Hi, @AndreiJirohHaliliDev2006 , are you using iOS or Android devices?

Thanks to the PR by @shreyas1599 , Android beta version has been released: https://play.google.com/apps/testing/io.github.pd4d10.gittouch

iOS test flight version is being reviewed. I'll update the link once it's finished.

For detail see this issue: https://github.com/git-touch/git-touch/issues/61

Thanks for your feedback!

[2020-05-09 17:08] shreyas1599 commented on #79
@pd4d10 I just checked. I'm afraid this error still exists on the android beta release.

[2020-05-09 17:42] shreyas1599 commented on #79
Just checked. This is the error. I got a positive response when I used my accountID instead of my username. Seems like we should add accountId to `Account`.

[2020-05-10 20:57] aseef17 commented on #61
Hey @pd4d10
When can we expect the application to be released in TestFlight ?

[2020-05-11 02:57] pd4d10 commented on #61
@aseef17 The review process is just finished.

https://testflight.apple.com/join/hAYijLr5

[2020-05-11 03:46] pd4d10 commented on #61
Added to README: https://github.com/git-touch/git-touch#installation

I'm going to close this issue. Feel free to discuss it here if there are other issues

[2020-05-11 03:46] #61 closed

[2020-05-11 07:04] aseef17 commented on #79
@pd4d10
This issue still occurs in the beta release on TestFlight.
You should check out PR made by @shreyas1599

[2020-05-11 12:57] #79 closed

[2020-05-12 08:28] AndreiJirohHaliliDev2006 commented on #67
I am using Android 4.4.3. I'll join the beta testers squad soon as I am back on my phone. Thanks again, @pd4d10.

[2020-05-12 09:49] shreyas1599 opened #87 "Link to user profile in markdown"
Consider [comment_item](https://github.com/git-touch/git-touch/blob/master/lib/widgets/comment_item.dart#L186).
I'm trying to add a link to the profile. For example, @shreyas1599 should link to my profile. I used a simple regex to do this:

`body.replaceAllMapped(new RegExp(r"@[^\s]+"), (match) {
          return "[${match[0]}](https://github.com/${match[0]
})";`

A couple of questions:

- Should

[2020-05-12 10:22] pd4d10 commented on #87
If the purpose is to replace `@somebody` with a link, it seems not enough to just tweak the [onTapLink](https://github.com/git-touch/git-touch/blob/master/lib/widgets/markdown_view.dart#L31) method.

We should add a plugin to [flutter_markdown](https://github.com/flutter/flutter_markdown) to identify the `@somebody` syntax, then turn it into a link.

[2020-05-12 10:23] pd4d10 commented on #87
Yeah, it is a legacy todo. We should open an issue for this: Add `/github` prefix to GitHub related screens, just like other platforms.

[2020-05-12 10:25] pd4d10 commented on #87
Oh, I missed this replacement process. This might also work but it seems flutter_markdown plugin would be more common.

[2020-05-12 10:32] shreyas1599 opened #88 "Add /github prefix"
Add `/github` prefix for GitHub related screens similar to other platforms

[2020-05-12 15:31] #88 closed

[2020-05-14 05:28] #66 closed

[2020-05-15 07:31] shreyas1599 commented on #69
Hi, @pd4d10
- I added macos support. Looks very mobile-_ish_. Looks like we have to do a complete redesign. Will definitely take a lot of time. Something we could slowly do over time. I'm also not sure how to render specific designs for larger sizes. Does it happen through `media-queries`?
- OAuth doesn't work. I updated the version of `url_launcher` to support `launchUrl` on macos.  But seems lik

[2020-05-15 07:44] pd4d10 commented on #69
Great!

I think we could **make it work** first, then make it better (such as design and user experience stuff)

Sure. Just don't break current android and iOS builds

[2020-05-15 20:33] shreyas1599 opened #92 "restructure screens directory"
I understand that the prefixes `gh`, `bb`, `gt` and `gl` were used to easily identify the files in the screens directory. Still, I find it very cluttered and difficult to access the right file. I think we should add subfolders for each platform.

@pd4d10 What is your opinion? I'll do this if you are alright with it. I'll have to change all the affected imports.

[2020-05-16 15:52] shreyas1599 commented on #87
Sorry, I don't exactly understand. I've never written one before. By plugin do you mean, I use `flutter_markdown` and create a package that identifies the `@` symbol and converts it into a link? Can you give an example?

[2020-05-17 04:13] pd4d10 commented on #87
`MarkdownBody` has a property named `extensionSet`: https://pub.dev/documentation/flutter_markdown/latest/flutter_markdown/MarkdownBody-class.html

For examples see: https://pub.dev/packages/markdown#syntax-extensions

[2020-05-17 04:17] pd4d10 commented on #87
There is also a legacy issue related to this: Rendering `<img>` tag correctly. `<img>` seems to be frequently used.

[2020-05-23 19:10] maxloh opened #94 "Implement Android 10 transition animation"
Hi. Can you implement Android 10 transition animation to the app?

The animation have already been added to flutter. https://github.com/flutter/flutter/pull/41935

[2020-07-12 12:00] van-8 commented on #68
Hi pd4d10,
I designed a few logo options for your consideration. Such a wonderful app should have a wonderful original logo!

### SPECS

- **Design elements from Git or Dart/Flutter**
- Simple shapes imparting concept of **merging/committing**
- Clean, modern design suitable for all platforms

### COMPOSITION
Went to the original Git logo to look for inspiration, since the app supports many platfo

[2020-07-12 12:27] van-8 opened #95 "UI : Container length of TabStatefulScaffold in "Cupertino style" changes when switching tabs"
For example, in the Github `Notificiations_Screen`, the word "Participating" is long. When the tab is `selected`, it expands the entire Tab widget. This is mostly likely because the `selected` state has a heavier `fontweight`, thus expanding the entire parent Container Widget. This occurs in Cupertino style only.

![gittouch UI tab issue](https://user-images.githubusercontent.com/28463475/87246161

[2020-07-12 15:34] pd4d10 commented on #68
Cool! Thanks for your design!

I'm not a UI/UX expert, so I could not give professional advice for these logos.

Personally I prefer the *Minimal Clean* one.

[2020-07-12 15:42] pd4d10 commented on #68
Another question, shall we make the App UI's primary color the same (or at least similar) as the logo?

Currently the [primer color system](https://primer.style/css/support/color-system) is used.

https://github.com/git-touch/git-touch/blob/508f9861d99fb74bb6e1ae4936707858bfc1bac8/lib/models/theme.dart#L141

Perhaps we could try to change it and see what it looks like

[2020-07-12 16:35] pd4d10 commented on #95
Nice catch!

How about expanding the tabbar to full width? Then it would have enough space.

[2020-07-14 13:06] van-8 commented on #95
Perfect.

In the Apple Human Interface Guidelines, the [Segmented Controls ](https://developer.apple.com/design/human-interface-guidelines/ios/controls/segmented-controls/)are always full width. It seems this might be Flutter not updating their widget to iOS13 standards? Maybe we can submit this fix to the main Flutter branch?

Here's an example for 2 segments, which would apply to the GitTouch `t

[2020-07-14 13:19] van-8 commented on #68
I like the Minimal Clean logo as well. But I think Cyber-Blueprint is cooler! Two options submitted in PR #96 , leave it to you.

I think keeping the current `PrimerColor.blue500` was the right choice! `Blue` is the Primary Accent standard for Apple HIG, Github, BitBucket, and Gitea. Only GitLab uses a `dark purple` for some of their links.

We shouldn't give GitTouch too much "personality" since

[2020-07-15 03:47] pd4d10 commented on #68
OK. Let's keep this issue open for more discussion.

[2020-07-15 03:52] pd4d10 commented on #95
Would `Row > Expanded > CupertinoSlidingSegmentedControl` work for this case?

[2020-07-31 10:11] pd4d10 opened #97 "Issue of private repos"

[2020-08-16 16:48] shreyas1599 opened #99 "Error displaying repo with 0 files"
An error occurs (see image below) when the repo is initialized with zero files. I created a public repo - [test](https://github.com/shreyas1599/test) to confirm this was not only caused for private repos(I found the problem while opening a private repo). The error is caused by [fetchContributors](https://github.com/git-touch/git-touch/blob/1276957b2d14ad93b3762bb109a457711085d978/lib/screens/gh_re

[2020-08-17 15:34] shreyas1599 commented on #95
This didn't work. I changed the [padding](https://github.com/git-touch/git-touch/blob/1276957b2d14ad93b3762bb109a457711085d978/lib/scaffolds/tab.dart#L38) to 12 and it seemed to work on iphone se2 and 11 pro. Guess it should work for all devices. Shall I open a pr?

[2020-08-21 06:44] shreyas1599 commented on #97
@pd4d10 I tried creating an issue in a private repository and opening the issue from the list of issues from the app. Works as expected. Am I missing something?

[2020-08-28 17:33] etcSudoers opened #100 "Markdown rendering: images and [[backlinks]]"
Is it possible to have the markdown preview show images stored in ./images/ of the same repo.

Support for [[wiki style links]] in markdown would be awesome too.
Thank you!

[2020-09-29 01:22] mathmaniac43 opened #102 "CERTIFICATE_VERIFY_FAILED"
Hello,

I am trying to set up this app on my Motorola Android 9.0 phone. I want to connect it to my locally-hosted GiTea instance, which I have generated my own SSL certificates up to use HTTPS with. I have installed the root certificate onto my phone, and it works for my web browser and other services.

When I plug in the GiTea access token, I get the following error:

[code]

Is something preven

[2020-09-29 20:33] hpodhaisky opened #103 "Incomplete list of repositories for gitea"
Hi,

the list of my personal, private repositories for my gitea server displays only 30 out of my 82 repositories and I haven‘t found a way to access the missing ones with git-touch. I don’t understand the order in which this list is presented. Moreover, under „me“ collaborative repositories are listed, too. The views are identical under Android and iOS. The web interface of gitea works well.

[2020-10-03 07:26] pd4d10 opened #104 "Add Gitea user heatmap (contributions)"
Just like GitHub contributions

https://gitea.com/api/swagger#/user/userGetHeatmapData

[2020-10-03 07:27] pd4d10 commented on #102
Hi, @mathmaniac43 , thanks for the report!

Does you self-hosted site work fine in the browser?

[2020-10-03 07:43] pd4d10 commented on #99
Yeah, it seems so. Perhaps we should manually catch this error in this case.

[2020-10-03 07:52] pd4d10 commented on #92
Personally I prefer to keep it as is, which would be beneficial for quick searching. Take VSCode as example, if we'd like to search the file GitHub user screen, we could just press `Cmd + P`, and then quickly search it by `gh_user` instead of verbose `github/user` (`user` is not enough because there are several `user`).

Anyway, there efforts are highly appreciated! Let's keep this issue open for

[2020-10-03 12:07] mathmaniac43 commented on #102
Yes it does. After I installed the public root cert I generated on my phone, the browsers (Firefox and Google Chrome) are happy to open the site.

[2020-10-03 12:56] pd4d10 commented on #102
OK. It looks related to Dart/Flutter framework, not the app itself.

Found some similar issues at Flutter repo: https://github.com/flutter/flutter/issues/50699 https://github.com/flutter/flutter/issues/23045

[2020-10-04 16:56] Abhishek01039 commented on #62
Hello @shreyas1599
can you provide some more information like how it looks like(Design) and some questions?
so I can build that FAQ page.
Thanks.

[2020-10-05 10:31] #104 closed

[2020-10-05 13:13] pd4d10 commented on #103
Hi, @hpodhaisky , it should have been fixed in the latest v1.5.1.

Closing, feel free to reopen it if there are other problems.

[2020-10-05 13:13] #103 closed

[2020-10-05 13:29] pd4d10 commented on #97
Can't reproduce, closing

[2020-10-05 13:29] #97 closed

[2020-10-05 13:34] pd4d10 commented on #47
Should have fixed in the latest v1.5.1. Sorry for the long wait!

[2020-10-05 13:34] #47 closed

[2020-10-05 14:54] pd4d10 opened #105 "fail to tree shake icons"
https://github.com/git-touch/file-icon

Pass `--no-tree-shake-icons` for temporary working

related issue: https://github.com/flutter/flutter/issues/63248

[2020-10-05 18:12] hpodhaisky commented on #103
Hi, @pd4d10 , thanks it is better now: (in v1.5.1 under Android) I can only see my repositories under "me". But still only 30. I could live with 30 if there were an option to filter. Alternatively, a simple fix (for me) would just be to increase 30 to 100.

I believe the reason is the default of DEFAULT_PAGING_NUM=30 in https://docs.gitea.io/en-us/config-cheat-sheet/ .

Thus, git-touch needs the o

[2020-10-05 18:31] hpodhaisky opened #106 "Incomplete list of repositories for gitea (was #103)"
Dear @pd4d10, sorry, I don't know how to re-open issue (#103).

1) git-touch only fetches the first page (default = 30 repositores) from gitea, see https://try.gitea.io/api/swagger#/user/userCurrentListRepos , how can I access repositories on page 2 etc.?
2) for gitea, the number of repositories is only marked with ?
![Screenshot_20201005-202740](https://user-images.githubusercontent.com/13908728/

[2020-10-06 01:53] pd4d10 commented on #106
OK. I'll check it.

The '?' is becuase Gitea has no API to get these counts. It is too expensive to traverse all results and only for getting the length.

[2020-10-06 01:57] pd4d10 commented on #106
Oh, it seems the list API has a `x-total-count` response header. Probably we could improve it by request only 1 result for getting the length.

[2020-10-06 02:39] pd4d10 commented on #106
After some digging it seems the Gitea API has deprecated `x-page` and `x-hasmore`, replaced with `x-total-count`. But the `x-total-count` header is still missing in some API, such as https://gitea.com/api/swagger#/user/userListStarred

[2020-10-06 11:17] pd4d10 opened #107 "GitHub issue comment avatar link not working"

[2020-10-06 11:22] pd4d10 opened #108 "markdown code color in dark mode"

[2020-10-06 11:46] pd4d10 opened #109 "Lazy load languages in GitLab repo screen"

[2020-10-06 13:22] pd4d10 opened #110 "Trending API is down"
https://github.com/huchenme/github-trending-api/issues/130

[2020-10-06 14:34] #99 closed

[2020-10-06 14:34] #107 closed

[2020-10-06 14:34] #108 closed

[2020-10-06 14:34] #42 closed

[2020-10-06 14:34] #110 closed

[2020-10-06 14:50] huchenme commented on #110
The API is back now

[2020-10-07 01:33] pd4d10 opened #112 "GitHub: app crashes when viewing repo screen"
go-gitea/gitea

v1.6.0

[2020-10-07 12:49] mathmaniac43 commented on #102
I see, thank you for finding and sharing that!

[2020-10-08 01:05] pd4d10 opened #113 "GitHub issue screen error"
https://github.com/remarkjs/remark/pull/536

[2020-10-08 04:21] pd4d10 opened #114 "Crash report"
And there should also be a switch to turn it off.

https://docs.sentry.io/platforms/flutter/

[2020-10-08 06:53] #113 closed

[2020-10-08 07:06] #95 closed

[2020-10-08 09:09] #35 closed

[2020-10-08 09:16] pd4d10 commented on #105
According to https://github.com/flutter/flutter/issues/67388, it seems impossible to resolve this if [file_icon](https://github.com/git-touch/file-icon) is still be used as `IconData`

[2020-10-08 09:16] #105 closed

[2020-10-08 10:58] #112 closed

[2020-10-11 06:54] pd4d10 opened #115 "gitlab: repo members screen link"

[2020-10-11 11:38] pd4d10 opened #116 "GitHub: pull request screen error"
https://github.com/git-touch/git-touch/pull/101

[2020-10-11 14:39] #115 closed

[2020-10-11 14:39] #116 closed

[2020-10-11 14:42] pd4d10 opened #117 "Add new platform: Gogs"
https://github.com/git-touch/git-touch/issues/29

[2020-10-11 14:43] pd4d10 opened #118 "Add new platform: Gitee"
https://gitee.com/

[2020-10-11 14:44] pd4d10 opened #119 "i18n: code and translations"
https://flutter.dev/docs/development/accessibility-and-localization/internationalization

[2020-10-13 00:02] TheEvilSkeleton commented on #6
I'm wondering the same. It hasn't been active for a while

[2020-10-13 00:13] IzzySoft commented on #6
@pd4d10 are you still on this? First anniversary of your initial commitment. A good time to get this done, don't you agree? :smiley:

[2020-10-13 02:27] pd4d10 commented on #6
Oh, sorry for the long wait. I got stuck last time.

Is there any app which is also built with Flutter at f-droid? Perhaps I could refer to some of them.

[2020-10-13 02:34] linsui commented on #6
https://gitlab.com/fdroid/rfp/-/issues?scope=all&utf8=%E2%9C%93&state=all&label_name[]=flutter

[2020-10-17 05:57] maxloh opened #120 "Chinese characters and emojis in descriptions are being decoded incorrectly in trending page"
See the screenshots below.

The Chinese characters in labuladong/fucking-algorithm description and the :books: emoji in EbookFoundation/free-programming-books description are being decoded incorrectly.

![Screenshot_20201017-134524](https://user-images.githubusercontent.com/35831069/96329440-6ec18780-107f-11eb-85e9-afc2ab9baf28.png)

![Screenshot_20201017-134527](https://user-images.githubusercont

[2020-10-19 17:11] pd4d10 opened #121 "markdown view crash"
https://github.com/bytedance/bytemd

[2020-10-22 16:11] kakolisgay commented on #102
Potential fix [flutter/flutter#50699#issuecomment-653855688](https://github.com/flutter/flutter/issues/50699#issuecomment-653855688)

[2020-10-29 11:24] pd4d10 opened #122 "github user screen error"
Seems to be a bug of the GraphQL API. The `color` should be a hex number

![image](https://user-images.githubusercontent.com/9524411/97576579-4d6e7d00-1a29-11eb-8b59-6e185685ab4a.png)

[2020-10-31 02:42] pd4d10 commented on #122
https://github.community/t/graphql-api-contribution-colors-breaking-change/140855

[2020-11-01 17:04] pd4d10 commented on #122
Temporarily fixed by a tricky way

[2020-11-01 17:04] #122 closed

[2020-11-02 04:46] kakolisgay opened #123 "markdown rendering causes reboot"
Samsung Galaxy S8, Android 9, One UI

Opening this repo by going through settings crashes Android and causes a soft reboot. Issue was not present in previous play release

[2020-11-02 04:49] kakolisgay commented on #123
This also seems to happen with my own repos, although testing is a bit of a pain

[2020-11-02 05:05] pd4d10 commented on #123
The latest version uses [webview_flutter](https://pub.dev/packages/webview_flutter) to display readmes. Probably related to this change.

[2020-11-02 14:28] pd4d10 opened #124 "add a switch to let user decide which approach to render markdown"
related: #123

[2020-11-08 06:47] pd4d10 opened #125 "Clarify the "app password" of BitBucket"
https://support.atlassian.com/bitbucket-cloud/docs/app-passwords/

It is something like token but most of users would understand it as the literal "password".

[2020-11-08 09:24] #121 closed

[2020-11-08 09:24] #109 closed

[2020-11-08 09:28] hugomc92 opened #126 "Cant see Bitbuckets branchs"
In the iOS app, I cant see and switch between branches on bitbucket account.

Please, add this feature. The app is really good.

Thanks in advance.

[2020-11-08 13:14] pd4d10 opened #127 "In-App review"
https://pub.dev/packages/in_app_review

[2020-11-08 13:17] #124 closed

[2020-11-08 13:17] #125 closed

[2020-11-08 13:45] pd4d10 commented on #123
Hi, @kakolisgay ,  you could select Markdown render engine in the latest version v1.9.0, which has been published and in review.

![simulator_screenshot_9F696016-7303-4A3B-9EBE-082B2F6AE396](https://user-images.githubusercontent.com/9524411/98466630-a0a3b500-220b-11eb-8c54-173842b117dc.png)

[2020-11-08 13:50] pd4d10 commented on #120
Does this issue still exist?

[2020-11-08 13:55] pd4d10 commented on #1
Webview render engine has been added in the latest v1.9.0, which supports inline HTML and SVG.

[2020-11-08 13:55] #1 closed

[2020-11-08 14:29] kakolisgay commented on #123
Updated to 1.7.0 and strangely enough, it no longer crashes. Even in flutter rendering mode. Webview rendering mode doesn't seem to work though. Was the crash fixed upstream?

[2020-11-08 14:53] pd4d10 commented on #123
Markdown render engine history:

- v1.7.0 and before: flutter
- v1.8.0: webview
- v1.9.0: two options: flutter and webview, default to webview

[2020-11-09 02:53] maxloh commented on #120
No. Thanks for your awesome work. :)

[2020-11-09 03:00] pd4d10 commented on #120
OK, actually I'm not sure what causes this issue. One possible reason is that the character encoding returned by the API is not correct.

Closing. Feel free to reopen it if it happens next time

[2020-11-13 15:48] pd4d10 commented on #120
![IMG_BC7F30FA9C92-1](https://user-images.githubusercontent.com/9524411/99091348-b7cb1400-260a-11eb-875c-081643dd8eae.jpeg)

[2020-11-14 09:02] #120 closed

[2020-11-26 01:55] BinaryMuse commented on #122
I believe this should be resolved in the API now! Apologies for the issue

[2020-11-26 07:56] kakolisgay commented on #123
Still not entire sure what was causing the crashes but I assume it was likely fixed upstream. Closing for now

[2020-12-12 18:15] #127 closed

[2020-12-13 03:45] pd4d10 opened #128 "Android launch image not updated"

[2020-12-13 04:02] pd4d10 commented on #123
[code]

[2020-12-13 04:02] pd4d10 commented on #123
It seems happen again at v1.10.0

[2020-12-13 04:21] pd4d10 commented on #123
It is probably caused by the webview component. Selecting 'Flutter' markdown render engine would solve this temporarily.

[2020-12-13 05:17] pd4d10 opened #129 "In app review pops too frequently"

[2020-12-13 06:20] #123 closed

[2020-12-13 06:20] #128 closed

[2020-12-13 06:20] #129 closed

[2020-12-13 14:45] kakolisgay opened #130 ""Repositories" text in search view is truncated in English"
The "Repositories" tab text in the search view is being truncated in English. Making it seem to say "Repositorie"

![SmartSelect_20201213-144035](https://user-images.githubusercontent.com/16590431/102015110-79339100-3d51-11eb-9ec3-bdcebdddcd23.jpg)

[2020-12-15 07:00] yusdacra opened #131 "To-Dos / Issues / PRs screen"
It would be handy to have a seperate screen for these. While for GitHub the notifications screen kinda works I think a dedicated screen would be much more handy (it would also work with other services too).

[2020-12-15 07:08] yusdacra commented on #69
I believe https://github.com/go-flutter-desktop/hover can be very useful for this, since desktop builds + packaging is the reason it exists.

[2020-12-16 04:57] Rud156 opened #132 "Improve Markdown Rendering"
Opening Repos with a lot of Markdown content in its Readme.md file crashes the app.

Examples:
- https://github.com/transloadit/uppy
- https://github.com/mdn/content
- https://github.com/openpgpjs/openpgpjs

[2020-12-28 11:59] Schokokex opened #133 "Restrict Access pls"
I dont log in to this app. I dont like to give read and write to all my repos

[2020-12-31 02:22] pd4d10 opened #136 "Enable Null Safety feature"
https://github.com/dart-lang/language/issues/110

[2021-01-04 07:24] shreyas1599 commented on #118
Hi @pd4d10,
I'm trying to add the issue screen. Need some help.
`IssueItem` takes a required parameter called [number](https://github.com/git-touch/git-touch/blob/c6757c154890b9120848d985229f80c7c842fbfd/lib/widgets/issue_item.dart#L37) but gitee issue numbers are not integers. They look something like this: `#I2BRYV`. Which of these would you suggest or is there an alternative apart from this?

-

[2021-01-04 09:09] pd4d10 commented on #118
Well, it seems just used as a title.

Perhaps replace the `number` prop with a `title`?

[2021-01-04 09:16] shreyas1599 commented on #118
`title` prop already exists. Do you mean remove the `number` prop and append the issue number to title?

[2021-01-04 09:20] pd4d10 commented on #118
Oh, sorry, I missed that. It seems like a subtitle.

[2021-01-04 09:21] pd4d10 commented on #118
It's a good idea, but I've noticed that the style is a little different with the title and wrapped with a `TextSpan`.

How about replacing it with `String subtitle`?

[2021-01-04 09:22] shreyas1599 commented on #118
Alright I'll do this

[2021-01-05 09:25] #119 closed

[2021-01-05 09:28] pd4d10 opened #139 "i18n improvements"
From https://github.com/git-touch/git-touch/pull/137

- [ ] Translate text present outside a widget
- [ ] Reduce mappings in the arb files by identifying the plural of a word

[2021-01-05 10:54] pd4d10 opened #140 "Add a fallback language"
If the system language is not in the list:

![image](https://user-images.githubusercontent.com/9524411/103637958-37c88700-4f87-11eb-9069-9d07077f55a5.png)

/cc @shreyas1599 , perhaps we should add a fallback language to fix this.

[2021-01-05 11:32] #140 closed

[2021-01-05 11:37] pd4d10 opened #142 "[Help wanted] Translation"
1.

[2021-01-05 12:57] pd4d10 opened #143 "Add an option to select locale"
Some users may want to specify a locale to override the system one. We could add an option in the settings page.

So there would be `n+1` options:

- Locale 1
- Locale 2
- ...
- Follow system

[2021-01-06 15:29] pd4d10 commented on #118
This issue could be closed since Gitee is already supported. Let's track the features and bugs of Gitee with new issues.

[2021-01-06 15:29] #118 closed

[2021-01-06 15:37] shreyas1599 commented on #118
@pd4d10 going off-track here but can you enable [`Discussions`](https://docs.github.com/en/free-pro-team@latest/discussions/quickstart) on the repo(you're the admin)? It's for general discussions that may not necessarily be an issue. I opened it on my fork and it looks something like this:
![image](https://user-images.githubusercontent.com/28999492/103787009-16d56400-5063-11eb-9404-19a50b2c8cd8.pn

[2021-01-06 15:46] pd4d10 commented on #118
Enabled. I haven't used it before. Let's try it!

[2021-01-08 18:15] shreyas1599 opened #151 "gitee: getting all commits of a specific branch"
Hi @pd4d10, I'm trying to add branches to `gitee`. This is all I could find for getting commits for a single branch:

[`Getting a single branch`](https://gitee.com/api/v5/swagger#/getV5ReposOwnerRepoBranchesBranch) - returns a response that only includes the most recent commit - [`Example Response`](https://gitee.com/api/v5/repos/shreyas1599/test/branches/master) is supposed to return 2 commits.

[2021-01-08 18:25] shreyas1599 opened #152 "router: RouterScreen handler parameters"
The `RouterScreen` handler parameters have several different names.
Some of them are `(_,p)` `(context, p)` `(context, parameters)` `(context, params)` etc.
Perhaps we could make all of them `(context, parameters)` for some form of uniformity. What do you think @pd4d10 ?

[2021-01-08 22:38] IzzySoft commented on #6
So are you still on it here? I was just about to close the RFP as there was no activity for a year, despite my ping 9 months ago.

And now you are unstuck, @pd4d10? :speak_no_evil: I mean, is anything going on – your comment was 3 months ago? Just a friendly heads-up with the question whether we shall keep the RFP open :wink:

[2021-01-09 03:13] pd4d10 commented on #6
Oh, sorry about that. Still didn't figure it out. The RFP could be kept open if it is not in a hurry.

BTW, I'm very glad to accept a PR if someone could help...

[2021-01-09 03:18] pd4d10 commented on #151
https://gitee.com/api/v5/swagger#/getV5ReposOwnerRepoBranches

This should be the "getting all branches" API

[2021-01-09 03:19] pd4d10 commented on #152
Yeah, it is better to keep consistency.

[2021-01-09 03:44] IzzySoft commented on #6
I'm not an app dev, so I won't be able to help with that, sorry. But you could ask eg. at the forum, on IRC or Matrix.

The RFP will be kept open at least until my next triage run I guess. But if something sits for years and cannot be addressed, it just makes the backlog huge and the tracker hard to handle, so at some point we tend to close it with the hint to "please come back when YOU are ready"

[2021-01-09 04:17] pd4d10 commented on #6
Fair enough. How about:

1. Close the RFP issue for now, and open it again when we get ready
2. Keep this issue open for progress updating

What do you think @linsui

[2021-01-09 04:17] shreyas1599 commented on #151
Oh no, this one I got. I mean all commits for a single branch. After selecting a particular brand the commits screen should display all commits specific to that branch right?

[2021-01-09 04:23] pd4d10 commented on #151
Oh, sorry, didn't see it clearly 😂.

Does [this API](https://gitee.com/api/v5/swagger#/getV5ReposOwnerRepoCommits) work? It seems to have a `sha` parameter to specify the branch

[2021-01-09 04:35] shreyas1599 commented on #151
Ah ok I didn't notice the parameters. I was only searching the endpoints. I'll try this.

[2021-01-09 04:44] linsui commented on #6
I'm also not a dev so I can't help here. But maybe I can prepare a pr for the fastlane later. And how about give it a try using [this one](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/8087/diffs) as a template? It's also a flutter app and use HTTP for update check. Maybe I can do that this weekend and if I'm lucky it will be built by the CI.

[2021-01-09 06:36] #151 closed

[2021-01-09 08:59] linsui commented on #6
It builds fine, and a pr is filed [here](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/8089) . The pr for the fastlane is [here](https://github.com/git-touch/git-touch/pull/154).

[2021-01-09 13:50] IzzySoft commented on #6
That indeed looks very good – thanks a lot, @linsui! May I suggest…

* @pd4d10 merges the Fastlane PR,
* then tags a new version (not necessarily immediately, not not too much delayed)
* then @linsui updates the MR to that new tag and gives me a ping from there once the build is green again
* I pick up the MR for verification & test, then merge it
* within a week later, git-touch becomes available

[2021-01-09 16:49] pd4d10 commented on #6
@linsui Thanks a lot!

@IzzySoft Sounds great. PR merged, will draft a new release this week

[2021-01-09 16:51] pd4d10 commented on #6
There are already some screenshots in the [assets folder](https://github.com/git-touch/git-touch/tree/main/assets), but I'm not sure if they meet the needs.

[2021-01-09 16:52] #152 closed

[2021-01-09 17:20] IzzySoft commented on #6
Yes, you could place them in `fastlane/metadata/android/en-US/images/phoneScreenshots` (not the Google Play badge, of course :wink:).

Personal note: I usually recommend not to "frame" screenshots. Might look fancy on large screens, but wastes valuable space especially on devices with 5" or smaller screens. Not that bad with your screenshots here – but I've seen some where the "real screenshot" wa

[2021-01-10 11:36] pd4d10 commented on #6
Hi, @IzzySoft , A new tag [v1.11.0](https://github.com/git-touch/git-touch/releases/tag/v1.11.0) is released to test this process.

[2021-01-10 12:04] linsui commented on #6
Thanks! It is built.

[2021-01-10 14:32] shreyas1599 opened #158 "refactoring fetchBb"
Hi, @pd4d10  [`fetchBb`](https://github.com/git-touch/git-touch/blob/780970a5b754c7d7ceffb6f85a1b61383bbccf17/lib/models/auth.dart#L431-L451) and [`fetchBbJson`](https://github.com/git-touch/git-touch/blob/780970a5b754c7d7ceffb6f85a1b61383bbccf17/lib/models/auth.dart#L453-L464) are two different methods. I need to add other HTTP methods(PUT, DELETE, PATCH) like I did for [Gitee](https://github.com

[2021-01-10 16:44] IzzySoft commented on #6
Yes, builds fine. But unfortunately [cannot be merged](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/8089#note_482079794). For your convenience, the essence repeated here:

[code]

*Google Play Core* has a proprietary license and thus is not acceptable by F-Droid. Not sure what's dragging that in, though.

[2021-01-10 17:06] pd4d10 commented on #6
Looks wired... Do other Flutter apps have this issue?

[2021-01-10 17:13] pd4d10 commented on #158
OK. BTW, the `http` lib seems a bit verbose when using the HTTP method other than 'GET'.

Currently it is:

[code]

But for the common request utility function, what we want is more like:

[code]

[code]

[2021-01-10 17:55] shreyas1599 commented on #158
Oh do you mean using this function:
[code]
and then Something like this?

[code]

But the above seems will not make the existing code simpler.
Are you talking more along these lines: https://github.com/dart-lang/language/issues/158 ?
Seems like we can't create methods in enums. Only using extensions we can call methods

[2021-01-11 01:36] IzzySoft commented on #6
None of the others I've processed so far, no. And no obvious candidate that might have it as dependency. AFAIK there was some tool listing dependencies, I saw the output as ASCII tree a few times – but I don't know which one that was. I only remember it sounded like being available from within the SDK, like some `flutter --doSomething`, should have made a note… If I should make a guess, I'd suspec

[2021-01-11 02:15] pd4d10 commented on #158
Yeah, I mean if the `http` lib does already support this, the code would be simpler. For example, we could get rid of the `switch case` as follows:

https://github.com/git-touch/git-touch/blob/780970a5b754c7d7ceffb6f85a1b61383bbccf17/lib/models/auth.dart#L333-L366

We could just pass the `method` instead, no matter if it is a `string` or `enum`

[2021-01-11 02:19] pd4d10 commented on #158
I think your proposal is fine. Let's just do the refactor as you supposed.

[2021-01-11 02:24] pd4d10 commented on #6
Oh. That's it, thanks!

[v1.11.1](https://github.com/git-touch/git-touch/releases/tag/v1.11.0) is released with this package dropped

[2021-01-11 02:48] IzzySoft commented on #6
Gladly! Let's hope that killed the c… ahem… flag (ugh!) As a side-effect the APK will be a little smaller now as well :laughing: Will check that probably tomorrow. Almost 4am again already…

[2021-01-11 02:56] IzzySoft commented on #6
Short relieve note (I already played at the proverb of "curiousity killed the cat" – but luckily it is known to have multiple lives :wink:) so we all get a good nights sleep now:

[code]

That did it! Will review the MR tomorrow and expect no further stoppers, so expect it being merged and available at F-Droid within a week if all works out fine. Thanks a lot!

[2021-01-11 10:30] IzzySoft commented on #6
Merged, as expected. Though I was unable to test it with Github: entering the OAUTH token and pressing the button just resulted in a

    Something bad happens: NoSuchMethodError: The method '[]' was called on null…

GitLab however worked, so I used that to check. Don't have accounts on all services offered, and a full function test isn't part of the review anyhow.

So: Welcome aboard! As already

[2021-01-11 10:36] IzzySoft commented on #6
Ah, there was that dependency command I mentioned before: `gradle :app:dependencies`. Duly noted now :smiley:

[2021-01-11 13:34] RickyM7 commented on #142
@pd4d10 It would be great if your project were added to some localization platform, such as [Crowdin](https://crowdin.com/), [WebLate](https://weblate.org/), [POEditor](https://poeditor.com/), etc. These platforms have free plans and make the work of translators much easier.

[2021-01-11 14:32] pd4d10 commented on #142
Good idea! Which platform would you suggest?

[2021-01-11 14:37] shreyas1599 commented on #126
This has been implemented in #157. Closing it.

[2021-01-11 14:37] #126 closed

[2021-01-11 15:13] RickyM7 commented on #142
@pd4d10 Weblate for having more scripts that automate the process of bringing translations to repo or Crowdin by having many open source projects there.

[2021-01-13 00:59] #6 closed

[2021-01-13 01:10] TheEvilSkeleton opened #159 "Add Codeberg"
https://github.com/git-touch/git-touch/issues/29

[2021-01-13 01:14] TheEvilSkeleton commented on #159
I'm an idiot.

[2021-01-13 01:14] #159 closed

[2021-01-14 22:38] Lukas-Batema commented on #25
Thanks, I didn’t see this until now :)

[2021-01-14 22:46] Lukas-Batema commented on #26
May I have an update to this feature request? Also, I now realize that I should’ve had better formatting and description of the request. I will describe it below, as well as rename the issue!
——————
Feature Request:
I noticed way after I posted this issue and after the GitHub Official App was released, that there is one huge missing piece, the functionality to edit virtually any file within organi

[2021-01-15 00:58] pd4d10 opened #161 "GitHub issue comment of deleted user"
https://github.com/electron/electron/issues/673

[2021-01-15 12:28] Lukas-Batema opened #162 "Issue: Not able to view Organizations"
When I am on the “Me” tab, and click on the “Organizations” button, it shows that I don’t have an organization, even though I actually do. Currently, it says it is empty. This is related to this [closed issue](https://github.com/git-touch/git-touch/issues/25). Thank you!

Best Wishes,
          Lukas Batema

[2021-01-15 19:09] Lukas-Batema commented on #25
@pd4d10 this issue seems to not be fixed... check the above issue mention for more info!

[2021-01-16 02:49] pd4d10 commented on #162
Thanks for the report. which login entry do you use, OAuth2 or access token?

[2021-01-16 05:23] mondlicht-und-sterne opened #163 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want.
https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/
https://gitlab.com/snippets/1895688
That was simply information about what is still possible. You would then only have to enter the screenshots in fastlane.

[2021-01-16 13:18] Lukas-Batema commented on #162
I use OAuth2 @pd4d10

[2021-01-17 08:30] pd4d10 commented on #162
The API used in this case is [here](https://docs.github.com/en/rest/reference/orgs#list-organizations-for-a-user): `https://api.github.com/users/{your_username}/orgs`

[2021-01-17 09:42] User1l0 opened #164 "Git Touch can't open github or other clickable links from apps, please fix that. Also add codeberg.org support"

[2021-01-17 11:06] shreyas1599 commented on #164
@User1l0 codeberg is built on top of gitea. You can use codeberg on the app by logging in with `Gitea`. Just make sure you change the domain name to `https://codeberg.org`

![image](https://user-images.githubusercontent.com/28999492/104838615-1732f200-58e2-11eb-8f02-887e69f57073.png)

[2021-01-17 16:35] Lukas-Batema commented on #162
Dear @pd4d10,
I think the issue is fixed. Now it shows a non-stop blue refresh spinner under the visible organization. Thanks for your help!

Best Wishes,
Lukas Batema

[2021-01-18 12:11] shreyas1599 commented on #164
@pd4d10 should I add a separate item called `Codeberg` below [this](https://github.com/git-touch/git-touch/blob/c75288ef977ae84123afc6ed7a1efd2527cc859a/lib/screens/login.dart#L335) and re-use `loginToGitea` and perhaps modify readme to indicate support for Codeberg?

[2021-01-18 16:49] pd4d10 commented on #164
Is this Codeberg's API exactly the same as Gitea?

If so, in my opinion, it's not necessary to add a new one. Perhaps add a note under the Gitea login inputs?

[2021-01-18 16:54] shreyas1599 commented on #164
Yeah codeberg api redirects to the gitea api page. Alright, then I'll add a note

[2021-01-19 13:06] #164 closed

[2021-01-19 13:13] pd4d10 commented on #164
The deep links issue is probably related to https://github.com/git-touch/git-touch/issues/60

[2021-01-19 14:52] Lukas-Batema opened #167 "Add Dependabot dependability score to README.md"
Dear GitTouch Developers,
It would be nice, if we could see if the GitHub Actions were passing, how dependable the code is, and how many security issues are currently in the code.

Best Wishes,
Lukas Batema

[2021-01-19 15:02] Lukas-Batema commented on #29
Dear @pd4d10,
I could attempt to make a whole browser version for the app if needed. I don’t know if I can get it to fully work, but I would love to help!

Best Wishes,
Lukas Batema

[2021-01-19 15:11] Lukas-Batema opened #168 "Same Account, on Select Account Screen"
Dear GitTouch Developers,
When trying to add another account using OAuth2, it just duplicates the already selected account, without letting you add the different account wanted.
![9C94C4B0-D528-4F10-A8B6-F72F670CBC79](https://user-images.githubusercontent.com/55695493/105053201-b0771b00-5a3e-11eb-94d2-6109a4b18df5.png)

Best Wishes,
Lukas Batema

[2021-01-21 03:46] shreyas1599 commented on #131
@yusdacra Do you mean the list of all issues/PRs associated with a user for each service? For example, in GitHub, issues and PR tabs in the highlighted section below?

![image](https://user-images.githubusercontent.com/28999492/105277184-ee07af80-5bc8-11eb-8e9f-ad971cdb0c0c.png)

[2021-01-21 12:43] yusdacra commented on #131
Yes. I'm not sure if that's the best place for it though. For other services which don't have 'notifications' we should put the list of issues / PRs at the bottom bar.

[2021-01-23 14:08] #117 closed

[2021-01-23 19:57] lifebarier opened #172 "Gitea/Gitee mistype"
F-droid 1.11.1 version says "Gitea, and Gitee(..)", yet on account creation screen it is "Gitee Account \n Gitee Account(...)".
Pretty sure first "Gitee" should be "Gitea" (can't really test that because app errors out on self hosted gitea due to certificate, but that seems to have bug already)

[2021-01-24 17:18] shreyas1599 opened #173 "gitlab: move to graphql"
@pd4d10 I've started working on this if it's alright (I pulled your changes from #171 on my local)

[2021-01-24 20:21] Thewisem opened #174 "Missing parts in github"
I would like for you to add releases which are available on github. Currently I don't see an option on gitlab that lets me check the releases of the software or app

[2021-01-25 02:18] pd4d10 commented on #173
Considering there are many self-hosted versions, in which some are legacy versions (without GraphQL API), perhaps we should hold this for a while.

[2021-01-25 03:44] shreyas1599 commented on #173
Hi, not sure I understand this. If the self-hosted version works on REST it should work on GraphQL right? Can you give an example of where/why it might not work?

[2021-01-25 06:34] pd4d10 commented on #173
![image](https://user-images.githubusercontent.com/9524411/105669362-1883a080-5f1a-11eb-9a11-426667744ef7.png)

https://docs.gitlab.com/ee/api/graphql/

It is only enabled by default in the versions greater than 12.1. It should work in https://gitlab.com, but I'm not sure if our users' self-hosted GitLab matches this condition.

[2021-01-28 05:43] linsui commented on #163
This should be very easy. I'm not sure which method is prefered. If those images in assets are only used for readme then we can move them to fastlane.

[2021-01-28 07:07] mondlicht-und-sterne commented on #163
how " which method is preferred ?

[2021-01-28 08:00] linsui commented on #163
We can also copy them to fastlane.

[2021-01-28 08:26] mondlicht-und-sterne commented on #163
with fastlane this should work.

[2021-01-28 13:22] #172 closed

[2021-01-28 17:56] shreyas1599 commented on #130
I was trying this. This is what I could come up with:
[code]

but it makes the Tab bar scrollable and looks something like this:

![image](https://user-images.githubusercontent.com/28999492/106178132-666d0280-61bf-11eb-9a4a-2dc766d99e7e.png)

Without creating a container and just making `isScrollable: true` leads to the tabs being centred.

![image](https://user-images.githubusercontent.com/289994

[2021-01-28 19:31] shreyas1599 commented on #29
Great! The current web version: [git-touch](https://git-touch.github.io) is very mobile-ish. It requires a lot of re-design. Even tablets would require a re-design.

[2021-01-28 19:56] 1hiking commented on #142
I would happily contribute in WebLate

[2021-01-28 20:33] Lukas-Batema commented on #29
Dear @shreyas1599,
I see what you mean. I will get to that right away!

[2021-01-28 21:43] kakolisgay commented on #130
Changing the translation to "Repos" would fix the issue, but this problem would likely prop up with other languages, which might not have as easily fixes. Does centering the tabs in the Notifications view fix the truncated text?

[2021-01-28 21:47] kakolisgay commented on #130
Since pd4d10 is Chinese, the git-touch UI is made expecting a similarly compressed language. Some UI elements may need to be changed to be more translation friendly. Maybe see how [FastHub](https://github.com/thermatk/FastHub-Libre) handles certain views?

[2021-01-29 02:53] shreyas1599 commented on #130
All of FastHubs tabs under the page title are scrollable elements

[2021-01-29 05:22] shreyas1599 commented on #163
[This](https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/) link has three directories - `phoneScreenshots`, `tenInchScreenshots` and `sevenInchScreenshots`. Should I add relevant images to all these directories or is `phoneScreenshots` enough?

[2021-01-29 06:39] linsui commented on #163
`phoneScreenshots` is enough.

[2021-01-29 13:46] pd4d10 commented on #29
Hi, @Lukas-Batema , thanks for your help!

Feel free to discuss it, but please don't put the unrelated promotion links in the comment.

[2021-01-29 13:50] Lukas-Batema commented on #29
Sorry, my bad, I will fix my signature right away!

[2021-01-29 14:00] #163 closed

[2021-01-30 06:12] #37 closed

[2021-01-30 06:31] pd4d10 commented on #142
OK, let's give it a try!

But the WebLate seems to have no free option. The trial would expire after a week.

![image](https://user-images.githubusercontent.com/9524411/106349259-a17a4d80-6307-11eb-97e3-460e06e2da14.png)

[2021-01-30 07:05] shreyas1599 commented on #142
What about Crowdin? Seems to be free.

![Screenshot_20210130-123500.png](https://user-images.githubusercontent.com/28999492/106349886-9fa88e00-62f7-11eb-9b9e-eb6f0927d0ba.png)

[2021-01-30 08:02] #161 closed

[2021-01-30 08:08] pd4d10 commented on #133
Hi, @Schokokex , do you mean the private GitHub repos?

If you login via access token, it could be solved by checking `public_repo` instead of the `repo` group.

![image](https://user-images.githubusercontent.com/9524411/106351107-1902a980-6315-11eb-8df9-a89729fad10c.png)

[2021-01-30 08:19] #133 closed

[2021-01-30 08:19] pd4d10 commented on #133
A public repos only login option was added, which will be available at the next release.

[2021-01-30 08:24] pd4d10 commented on #174
Thanks for your feedback!

Do you mean there should be a place in the app (maybe a button) to check if there is a new release?

[2021-01-30 08:28] shreyas1599 commented on #174
I did something like this for now (does not display all assets. On click downloads the first downloadable asset. I'm thinking of adding all the assets). Releases tab is in the repo screen.

![IMG_20210130_135747_777.jpg](https://user-images.githubusercontent.com/28999492/106351583-3fb7e480-6303-11eb-8870-affc52fda8fc.jpg)

[2021-01-30 10:24] RickyM7 commented on #142
That's weird, take a look.
![weblategratis](https://user-images.githubusercontent.com/24703825/106353734-74a84500-62cb-11eb-8b96-05f1baa8c664.jpg)

Can you take a look at [this site](https://hosted.weblate.org/hosting/)? That's weird, take a look. Can you take a look at this site? That's to have the `Libre plan`.

[2021-01-30 17:25] pd4d10 commented on #142
Spend some time to figure out how it works

https://hosted.weblate.org/projects/git-touch/git-touch/

[2021-01-30 17:31] shreyas1599 commented on #167
Do you mean [this](https://github.com/marketplace/dependabot-preview)? If so, dart is not supported.

[2021-01-30 19:02] Thewisem commented on #174
Yes. Exactly what you said. A button for releases. :)

[2021-01-30 19:04] Thewisem commented on #174
Try to show the changes they told they made in public in each release and each release itself. This way we can download directly from github. Sorry about the late response. Don't mind about the external download. The releases and publishes button should be there

[2021-01-30 19:06] Thewisem commented on #174
It would help in not using my account on my browser and use my account on two gits soooo yeah. :).

[2021-01-31 01:52] Lukas-Batema commented on #167
Yes, I mean that. I guess I will close this issue then ;)

[2021-01-31 01:52] #167 closed

[2021-01-31 04:40] pd4d10 commented on #174
Actually, there is an entry for releases, which may be a little hidden:

It just directs to the web version. It would be more native with #179

![simulator_screenshot_345850E6-5491-41F9-9CBB-B5B1650FED75](https://user-images.githubusercontent.com/9524411/106374782-f75efc00-63c0-11eb-9dcc-93f54de16a7d.png)

[2021-01-31 04:42] pd4d10 commented on #162
Closing. Feel free to reopen it if there are other problems

[2021-01-31 04:42] #162 closed

[2021-01-31 05:17] shreyas1599 commented on #168
I'm not sure if this is a problem with the app. I think it's automatically redirecting because you're already logged in using the first account. And github on their website too does not support multiple logins so you would not be able to choose an account. I think if you logout of your account from the browser and try logging in to the different one using the app it should work. (Perhaps we should

[2021-01-31 05:26] shreyas1599 commented on #174
@pd4d10 I noticed the following a while back too. Recalled after seeing this image.

I had added icons for some of them but there's repetition in the use of icons and I used icons that don't exactly match the action. Are there any other icon packs? Or are there icons that come in a variety of filled colours(not just the different colour outlines, but the entire icon being filled). It would be good

[2021-01-31 11:57] pd4d10 commented on #174
The Octicons we are using is v1 (from flutter_vector_icon). It seems [v2](https://primer.style/octicons/) is released for a while, which is landed in the GitHub web page

Perhaps we should upgrade to v2 too

[2021-01-31 13:11] shreyas1599 commented on #174
You mean modifying [this](https://github.com/pd4d10/flutter-vector-icons/blob/master/lib/src/octicons.dart) right? How did you get the icon data to create the file?

[2021-01-31 14:08] #174 closed

[2021-02-01 15:18] pd4d10 opened #181 "github releases page error with cupertino scaffold"
![Simulator Screen Shot - iPhone 12 Pro Max - 2021-02-01 at 23 17 41](https://user-images.githubusercontent.com/9524411/106478004-bc091e00-64e3-11eb-8760-ff26be977186.png)

[2021-02-01 15:26] shreyas1599 commented on #181
Oops. I tested it on Cupertino only. I'll check it out and fix it by tomorrow night.

[2021-02-01 15:31] shreyas1599 opened #182 "GitHub files page error"
I noticed this a while back. Forgot to get to it. Opening an issue in case I forget again.

![Screenshot_20210201-205829.png](https://user-images.githubusercontent.com/28999492/106479718-a1797980-64d0-11eb-8598-2ce14a061cfa.png)

[2021-02-01 15:40] pd4d10 commented on #174
This package is supposed to be a port of [react-native-vector-icons](https://github.com/oblador/react-native-vector-icons). Looks like the upstream package has no upgrade plan to octicons v2, so perhaps we should make it our own.

BTW, I just pushed a commit to `main` to replace most of the icons with [ionicons](https://ionicons.com/). The best of it is that every icon has an outline version, whic

[2021-02-01 15:45] shreyas1599 commented on #174
Ah yes I noticed this in the screenshot you posted on the issue you opened a while ago. Looks better too imo.

[2021-02-02 13:47] shreyas1599 commented on #182
This seems to be a problem of `HighlightView`. [This](https://github.com/git-touch/highlight/blob/251505aae568e95ad941e023c110495fa5ad0a16/flutter_highlight/lib/flutter_highlight.dart#L37) is the offending line. When `patch` is null as is the case with the above screenshot, the error occurs.

[2021-02-02 13:50] shreyas1599 commented on #182
I can catch it in `files_item.dart` itself but I think it would be better for the package to handle null.

[2021-02-02 13:57] shreyas1599 commented on #182
I'm thinking of replacing [this line](https://github.com/git-touch/git-touch/blob/918d0f3971b80fba411143a6bf1d3705eb1e4abb/lib/widgets/files_item.dart#L44) with `patch ?? "No text to be shown here"` or should I just leave it as an empty string. I think the first option is better because github returns a null patch only if the file has binary data. What do you think @pd4d10 ?

[2021-02-02 14:00] #181 closed

[2021-02-02 14:05] pd4d10 commented on #182
OK. I have no strong preference for this, as long as it is easy to understand for users.

[2021-02-02 14:43] #182 closed

[2021-02-03 02:31] pd4d10 opened #185 "Use Synthetic Packages for localizations"
https://github.com/flutter/gallery/pull/282

[2021-02-03 04:04] #185 closed

[2021-02-03 11:52] pd4d10 commented on #142
![image](https://user-images.githubusercontent.com/9524411/106743171-fd6f0a00-6658-11eb-9090-e2271e6a9151.png)

WebLate marks `zh` and `nb` as duplicated translation, which are necessary for Flutter (See https://github.com/git-touch/git-touch/pull/180#issuecomment-772168805)

Does anyone know how to solve this?

[2021-02-03 18:09] shreyas1599 commented on #136
We should migrate `flutter_highlight` `flutter_vector_icons` `github_trending` `nanoid` `file_icon` first. I'll take a look and start opening PRs in them.

<img width="803" alt="image" src="https://user-images.githubusercontent.com/28999492/106789718-a4af6980-6678-11eb-962b-fe9c87fce0e1.png">

[2021-02-04 12:32] shreyas1599 commented on #84
I think it's better to have an option to make an account primary so it opens by default while opening the app. (the intention of using reorder able list was to move the frequently used accounts to the top). Making an account primary seems a better way to do it.

[2021-02-04 12:42] shreyas1599 commented on #84
Looks like `auth.activeAccount` already solves this. But it is not persistent. Login screen reopens if you force close and open the app. Should we just write it into shared prefs?

_(Eg: On popular apps that support multiple accounts, opening the last used account is the way its done instead of asking the user to select from the list of accounts)_

[2021-02-04 15:46] pd4d10 commented on #84
OK, I think it's a good idea

[2021-02-05 03:41] #84 closed

[2021-02-05 07:07] linsui opened #192 "Support browsing without login"
Could you please support using this app without accounts? Thanks!

[2021-02-05 07:27] shreyas1599 commented on #192
Unfortunately I don't think GitHub allows this. To use their api, the user has to be authenticated

[2021-02-05 08:27] linsui commented on #192
Yep. I got it.

[2021-02-05 08:27] #192 closed

[2021-02-08 08:30] MrEPOZ opened #194 "Crashing Hard"
Browsing around the settings its fine but as soon I open a stared item the app restarts the phone( straight to Samsung logo). Phone is Note 8/Android 9 and app version is 1.10.1

[2021-02-08 17:08] Lukas-Batema commented on #168
Thank you!

[2021-02-08 17:12] Lukas-Batema commented on #29
@shreyas1599,
Do you want me to change it to html and make a complete overhaul of the code, or just mike minor edits, I am assuming an overhaul on the design side, but just let me know, thanks! Also, could you open a discussion page on the web version, so it doesn’t clutter this “issue”, thanks!

[2021-02-14 05:29] pd4d10 commented on #142
Submitted an issue to weblate repo: https://github.com/WeblateOrg/weblate/issues/5427

[2021-02-14 09:55] Devanshu19 opened #196 "Commits are not shown according to the selected branch...."
When changing the **branch**, number of commits indicator works fine, but the commits are shown only for the _master_ _branch_, even when the branch is changed....

It shows there are 8 commits in the events branch,
![Screenshot_2021-02-14-15-29-15-82.jpg](https://user-images.githubusercontent.com/66104268/107873552-6a946200-6ed9-11eb-900b-9a2496973c31.jpg)

But in commits section, there are only

[2021-02-14 13:39] pd4d10 commented on #194
Thanks for the feedback!

Does this mean one of your starred repositories? Could you please provide the repo's owner and name?

[2021-02-14 13:39] #143 closed

[2021-02-14 13:41] pd4d10 commented on #132
Thanks for the feedback.

Could you please provide more device info, for example, Android or iOS, System version?

[2021-02-14 15:47] #196 closed

[2021-02-14 17:03] pd4d10 commented on #6
Hi, @IzzySoft , I want to add an F-Droid badge to README, [here](https://github.com/git-touch/git-touch#readme) along with AppStore and Google Play.

[This badge](https://f-droid.org/en/2016/05/29/get-it-on-f-droid-badges.html)'s padding looks a little wide. Do we have a more compact one? Thanks!

[2021-02-14 21:36] IzzySoft commented on #6
No idea. You could follow the link to the [artwork collection](https://gitlab.com/fdroid/artwork/tree/master/badge), pick an SVG, and adjust it to your needs I guess?

[2021-02-15 02:11] pd4d10 commented on #142
Temporarily solved by excluding these by [language filter](https://docs.weblate.org/en/latest/admin/projects.html#language-filter): `^(?!(zh|nb)$).+$`

[2021-02-15 02:27] pd4d10 commented on #6
OK, thanks for the quick response. [This one](https://upload.wikimedia.org/wikipedia/commons/9/96/%22Get_it_on_F-droid%22_Badge.png) should work

[2021-02-15 02:33] pd4d10 opened #198 "Pagination error in GitHub issue/PR screen"
The cursor seems missing when fetching the second page

[2021-02-18 14:05] MrEPOZ commented on #194
Yes, on my stared repos. On all of them, funny enough even on this one to.

[2021-02-18 22:17] adrianjagielak opened #199 "Grey screen on iOS"
Hi, I tried to install it but the only thing I see is a static gray screen.

iOS 14.2 iPhone XS Max, GitTouch 1.12.0 from the App Store

![image](https://user-images.githubusercontent.com/21083675/108428813-7072a600-723f-11eb-944e-0c59e7b3bade.png)

[2021-02-19 02:40] pd4d10 commented on #199
Looks weird. Is this the first screen after opening the app without doing anything?

[2021-02-19 10:25] thomas-bouvier commented on #199
Hi, I get the exact same screen on Android since release 1.12.0. The white splash screen (with the logo on it) loads and disappears before that.

[2021-02-19 10:35] miracle091 commented on #199
Same on LineageOS 17.1, version 1.12.0 but installed trough apk (cause this version. is not available on f-droid at the time). This not happen with the 1.11.1 and if this could help, build directly from source work normally.

[2021-02-19 11:08] shreyas1599 commented on #199
I think the error is because of [this](https://github.com/git-touch/git-touch/blob/4a7028f5256fde36a951f09b6c88e2f420e77e79/pubspec.yaml#L35). While trying to build this error is returned:
[code]

I changed it to 0.17.0 and created a release on my local and it seems to work fine. @pd4d10 can you verify this on your machine?

[2021-02-19 12:42] pd4d10 commented on #199
0.17.0 seems to be a null safety version: https://pub.dev/packages/intl/versions/0.17.0

Have you set your Flutter channel other than `stable` (for example `beta`)?

[2021-02-19 12:46] pd4d10 commented on #199
I guess it may be caused by the system default locale.

@adrianjagielak @thomas-bouvier @miracle091 Could you please post your system default locale here? Thanks!

[2021-02-19 12:48] pd4d10 commented on #199
Update: This is exactly the reason that causes this problem

![simulator_screenshot_63B4E58E-CA9C-415C-A001-481DDC48981F](https://user-images.githubusercontent.com/9524411/108506438-bdb04f80-72f3-11eb-908a-f87a5dc43c35.png)

[2021-02-19 12:55] #199 closed

[2021-02-19 13:52] pd4d10 commented on #199
Landed a new release: https://github.com/git-touch/git-touch/releases/tag/v1.12.2

iOS package is waiting for review and should be ready in 24h.

[2021-02-21 02:32] angelyouyou opened #201 "支持fork的源码增加链接直接查看源的代码仓库（类似于网页版）"
支持fork的源码增加链接直接查看源的代码仓库（类似于网页版）

[2021-02-21 02:32] angelyouyou opened #202 "支持fork的源码增加链接直接查看源的代码仓库（类似于网页版）"
支持fork的源码增加链接直接查看源的代码仓库（类似于网页版）

[2021-02-21 05:36] dhammel commented on #132
@pd4d10 I am having the same issue, on latest fdroid build 1.11.1.

Device: Google Pixel 4 non-xl, Android 11 Janurary 2021 security update.

The other application, OctoDroid which I was looking to switch from as this integrates other services like Gitlab, also had similar issue was was addressed in an earlier update.

[2021-02-21 07:21] aximo opened #203 "when view issue detail，an error happen"
![862BE2F5-E8C4-4650-911E-77437E719952](https://user-images.githubusercontent.com/5916314/108618346-43e5a680-7458-11eb-9d1c-b157badf4c9e.png)

[2021-02-21 07:22] aximo commented on #203
ios14.1

[2021-02-23 14:01] angelyouyou commented on #201
重复

[2021-02-23 14:01] #201 closed

[2021-02-27 10:30] linsui opened #204 "Copy text"
Could you please support copy test from files?

[2021-02-27 10:32] linsui opened #205 "Open a repo from url or user name and repo name"
Is there any way to open a repo? It seems that I can only find repos by search. Thanks!

[2021-02-27 10:38] linsui opened #206 "Wrong app language"
My system language is Simplified Chinese but the app language is set as English when following system. Thanks!

[2021-02-27 10:49] linsui commented on #132
I have the same issue. How about setting the flutter render engine as default before this issue is properly solved?

[2021-02-27 10:53] #198 closed

[2021-02-27 10:59] pd4d10 commented on #194
Probably related to #132

Let's track it there

[2021-02-27 10:59] #194 closed

[2021-02-27 11:04] pd4d10 commented on #132
Yep, it seems that the Android webview widget may have some problems, for example #123 and #194

Makes sense. We could make Flutter render engine as default on Android.

[2021-02-27 11:07] pd4d10 commented on #132
The reason we prefer Webview is that inline HTML is not supported in the Flutter markdown widget.

BTW, this issue could be submitted to the official repo: https://github.com/flutter/flutter/issues?q=is%3Aopen+is%3Aissue+label%3A%22p%3A+webview%22

[2021-02-27 11:11] pd4d10 commented on #206
Fixed in 74e731af5ed5242c0852c12f859d0cd16a6c3c94

Will land in the next release soon.

[2021-02-27 11:14] linsui commented on #142
Some strings are not translatable. E.g. `App Language`.

[2021-02-27 11:24] linsui commented on #206
Thanks!

[2021-02-27 11:24] pd4d10 commented on #142
Yep, we should do something in the codebase:

1. Add a key in `lib/l10n/intl_en.arb`
2. Replace the text with `AppLocalizations.of(context).yourNewKey` in the widget

Then submit a pull request. These texts could be translated after merged to the main branch.

[2021-02-27 11:35] linsui opened #207 "Inconsist strings"
In Settings/SYSTEM, `GitHub status` and `Switch accounts` are used instead of `GitHub Status` and `Switch Accounts`. Is that intended?

[2021-02-27 11:43] pd4d10 commented on #203
I guess this is a private repo. Is this issue reproducible in all the repos, or just this?

[2021-02-27 11:45] pd4d10 commented on #207
Not quite sure. Is it a convention to capitalize the first letter of all words in English displays?

If yes, then it's better to correct it

[2021-02-27 11:51] pd4d10 commented on #205
What would you suggest as a way to show this feature?

[2021-02-27 12:17] linsui commented on #205
I thought that this feature can be merged in to the search box. When a string with a special format, e.g. git-touch/git-touch, is inputed, show a hint to open it directly.

[2021-02-27 12:21] linsui commented on #207
I don't know, but I thought that those strings should be in the same format. Could you please choose a prefered format and correct inconsist ones?

[2021-02-27 18:53] ThisNekoGuy commented on #123
Still happens for me with webview*

[2021-02-27 19:09] ThisNekoGuy opened #209 "Save Repos to Find Them Faster"
(Submitting this in-app)

I wanted to suggest this as an enhancement.

Github also has a feature that lets you filter through all the repos by issues you've personally submitted (might be to issues subscribed but I haven't double-checked that)

[2021-02-28 03:59] pd4d10 commented on #206
Fixed in the latest release: https://github.com/git-touch/git-touch/releases/tag/v1.12.3

[2021-02-28 03:59] #206 closed

[2021-03-02 19:02] gitsbi opened #210 "WebView as a Markdown Engine crashes app"
If I use WebView as the Markdown Render Engine (which was preset) the app crashes when I try to view https://github.com/gitsbi/unlib. After I switched to Flutter, this works.

[2021-03-03 03:49] pd4d10 commented on #210
Is your device iOS or Android?

If it is Android, then probably related to #132

[2021-03-03 11:22] gitsbi commented on #210
Yeah, it's Android 10, and you're probably right. Sorry for not having searched the list of open issues first. Feel free to close this as a dupe.

[2021-03-03 11:24] pd4d10 commented on #210
It doesn't matter. Just to get to the bottom of the problem

[2021-03-03 12:40] #210 closed

[2021-03-04 07:55] ildar opened #211 "suddden crassh"
the app crashes randomly. Android 7.1
[code]

[2021-03-05 09:42] aximo commented on #203
![8AD5BF15-F20B-43B3-AAE1-7027FFC6A3EA](https://user-images.githubusercontent.com/5916314/110097526-1bf02e80-7dda-11eb-9d3d-c14e92bcd463.png)

all the issues will meet this issue

[2021-03-05 09:44] aximo commented on #203
You can see that I open the issue in this repo and error happen

[2021-03-13 04:42] yaoweigh opened #212 "release"
很多项目release打开空白

[2021-03-13 10:05] fitojb commented on #130
Maybe switching to Roboto Condensed will help a bit

[2021-03-15 20:41] Quantenzitrone opened #213 "Open GitHub links automatically in GitLab."
e.g. A link to a GitHub Project site on F-Droid is automatically opened in the browser instead of in GitLab.

[2021-03-15 20:47] Quantenzitrone opened #214 "Select Parts of the written text when writing an issue"
It is possibele to select a single word or sentence of a text, in every normal app on android. On GitTouch there is only the possibility to copy or select the whole text.

[2021-03-19 23:20] Lukas-Batema opened #216 "main.dart.js file not found"
When working on a remodel of the web version, I came across this error right away in the js console. I do not know if it causes this, but it shows a blank page instead of what shows on the live site. Here are a few screenshots for reference...
___
![Screenshot 2021-03-19 19 11 41](https://user-images.githubusercontent.com/55695493/111850626-33094300-88e7-11eb-83d1-026d3244c1b9.png)
![Screenshot 20

[2021-03-20 03:52] shreyas1599 commented on #216
@Lukas-Batema which version of flutter are you using?

[2021-03-20 13:09] Lukas-Batema commented on #216
I do not know, which probably means I am not using it :/

[2021-03-20 13:26] shreyas1599 commented on #216
Right. How did you run it in the browser without flutter?

[2021-03-20 13:30] Lukas-Batema commented on #216
I used an IDE with a web server

[2021-03-20 13:34] shreyas1599 commented on #216
Oh. You're supposed to run it using flutter.
`flutter run -d chrome`

[2021-03-20 13:36] Lukas-Batema commented on #216
Yeah, I realize that now.

[2021-03-20 13:36] #216 closed

[2021-03-20 19:47] shreyas1599 commented on #216
It's generated by flutter when you run `flutter run -d chrome`

[2021-03-20 21:45] Lukas-Batema commented on #216
Ah, okay. Understandable now.

[2021-03-21 14:00] WilliamRagstad opened #218 "Syntax highlighting for large files"
I noticed when browsing source files in a C# project, some large files wasn’t receiving syntax highlighting at all. Is this something that loads asynchronously?
Anyways, this would be a nice feature to have.

[2021-03-21 14:00] WilliamRagstad opened #219 "Syntax highlighting for large files"
I noticed when browsing source files in a C# project, some large files wasn’t receiving syntax highlighting at all. Is this something that loads asynchronously?
Anyways, this would be a nice feature to have.

[2021-03-21 14:00] WilliamRagstad opened #220 "Syntax highlighting for large files"
I noticed when browsing source files in a C# project, some large files wasn’t receiving syntax highlighting at all. Is this something that loads asynchronously?
Anyways, this would be a nice feature to have.

[2021-03-21 14:00] WilliamRagstad opened #221 "Syntax highlighting for large files"
I noticed when browsing source files in a C# project, some large files wasn’t receiving syntax highlighting at all. Is this something that loads asynchronously?
Anyways, this would be a nice feature to have.

[2021-03-21 14:00] WilliamRagstad opened #222 "Syntax highlighting for large files"
I noticed when browsing source files in a C# project, some large files wasn’t receiving syntax highlighting at all. Is this something that loads asynchronously?
Anyways, this would be a nice feature to have.

[2021-03-21 14:04] WilliamRagstad opened #223 "Submit an issue button is spammable"
So as you might noticed, when clicking the blue submit button in the app, there is no user feedback (such as loading) making some users (me) click it multiple times just in case it didn’t register. This submits multiple issues but should only submit one.

[2021-03-26 18:45] KodexKy opened #224 "Bitbucket files list truncated at 10 files."
The files list of all bitbucket repos are truncated after listing 10 items. Haven't tested if this problem is present with the other git providers yet. I'll try to get more details once I get back home.

[2021-03-26 21:30] weeebdev opened #225 "How do I get access to private repos (Gitlab)"
The app doesn't read private repos that I don't own, but has been added as Developer or Maintainer.

[2021-03-27 01:48] T-10810 opened #226 "Found the issue of duplicate attribution callback invocation:"
Found the issue of duplicate attribution callback invocation:

[code]

This method is called whenever Adjust SDK receives new attribution data from server and compares it to previous locally stored data. The problem is in costAmount comparison: `isEqualToNumber` method returns false if both NSNumber objects are `nil`.

This was always an issue I believe, however it seems that up until 8pm UTC Marc

[2021-03-28 19:48] Lukas-Batema commented on #226
This also does not have anything to do with this repo, You have some pretty bot-like behavior. @shreyas1599 could you please check #217 and check the linked issue this "user" made, and see if you agree that this is a bot? Thanks.

[2021-03-29 02:03] timo955 commented on #225
https://github.com/google/boringssl/blob/238a25831e598642befcf056e778c8f166781a97/util/BUILD.toplevel

[2021-03-29 02:03] timo955 commented on #225
_Sent from my LM-Q730 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2021-03-30 16:11] weeebdev commented on #225
???

[2021-03-30 22:00] Lukas-Batema commented on #225
I will check to see if I get the same results. What version are you running, what device, etc.

[2021-03-30 23:08] Lukas-Batema opened #227 "Allow the Profile README feature"
I have noticed that on every user's profile I have visited, that I know have a profile readme, do not show up on the app at all, as they do on the Official GitHub App, and the Official GitHub Site. Could this be added in the near future?
___
For reference, to create a profile readme repo, name it `yourGitHubUserName` Mine, for example would be, `Lukas-Batema/Lukas-Batema`. Just do not put the slas

[2021-03-31 03:39] Tealk commented on #48
Hi,

where do I find the starred repos of a gitlab instance in the app?

[2021-03-31 03:41] Tealk opened #228 "fast switch"
Hello,

would it be possible to add a function to quickly switch accounts?
For example, the long press on "Me", the app Toot! would also have a good example.

[2021-03-31 04:16] Tealk commented on #142
I added the German language, but I could not find some entries in the app, so it is difficult to translate them accurately.

[2021-03-31 04:39] Tealk opened #230 "Sort accounts"
The possibility to set the order of accounts.

[2021-03-31 07:13] shreyas1599 commented on #213
This is being tracked in #60. I tried doing this but got stuck. I'll give a try again soon.

[2021-03-31 07:13] #213 closed

[2021-03-31 08:53] weeebdev commented on #225
I am sorry, but I think I didn't understand you. I meant Gitlab, so I can't find `Review Permissions ` there. Also, for gitlab it's only possible to login via tokens, not OAuth and I already grant all necessary permissions like api, read_user and read_repository

[2021-03-31 09:34] Lukas-Batema commented on #225
My bad, sorry.

[2021-03-31 18:22] weeebdev commented on #225
No, it's my bad, sorry. I'll edit my issue to make it more obvious 😄

[2021-04-02 10:15] ycMia opened #231 "ycMia"
got-torch

[2021-04-02 10:16] #231 closed

[2021-04-17 18:51] qwerty287 opened #232 "(un)subscribe to an issue or pull request"
Hello,
please support the option to subscribe/unsubscribe to an issue/pull request. Thanks!

[2021-05-04 14:58] FunctionalHacker opened #234 "[FR] Open link in GitTouch"
Android has support for adding a list of suppported links by apps. This enables the user to click a link in their web browser and it resulting the link opening in the application.

For example, you could click [this link](https://github.com/git-touch/git-touch/issues/234) in your web browser to open this issue in GitTouch.

It comes to mind that the nature of GitTouch makes this a bit harder to im

[2021-05-04 15:11] FunctionalHacker opened #235 "[FR] Add ability to search issues"
If I'm not mistaken, there doesn't seem to be any ability to search issues, at least on GitHub.

[2021-05-06 16:50] HarrPerson commented on #102
I have the same problem with GitTouch and gogs.
Self signed root CA is installed as user certificate. Chrome works fine.

[2021-05-08 18:08] qwerty287 opened #236 "Can't login to GitHub via OAuth"
As the title says - if I try it, the web browser redirects to Gittouch and nothing happens.

[2021-05-09 23:25] my2iu opened #237 "Add support for clone and other git operations"
I’m not sure if you’re interested, but I wrote an [open source flutter app](https://github.com/my2iu/PlomGit) that links in libgit2 to let it do basic git operations like clone, merge, commit, etc. You could possibly take that code and add all that functionality to git-touch.

[2021-05-15 11:32] iBelow commented on #236
+1
on iOS after login via OAuth -> nothing happens

[2021-05-15 11:55] qwerty287 commented on #236
I don't use iOS, so it's also on Android

[2021-05-15 14:15] pd4d10 commented on #236
Could you please check the result of https://api.github.com/

[2021-05-15 14:22] iBelow commented on #236
`{
  "current_user_url": "https://api.github.com/user",
  "current_user_authorizations_html_url": "https://github.com/settings/connections/applications{/client_id}",
  "authorizations_url": "https://api.github.com/authorizations",
  "code_search_url": "https://api.github.com/search/code?q={query}{&page,per_page,sort,order}",
  "commit_search_url": "https://api.github.com/search/commits?q={query}{&

[2021-05-15 15:02] qwerty287 commented on #236
Same here

[2021-05-15 15:25] qwerty287 commented on #236
I tried to get the logs via adb logcat, and it returns an error, see below
[code]
If you need more logs, I can try to get them, but I can't guarantee this.

[2021-05-16 13:18] #136 closed

[2021-05-27 13:46] ghost opened #238 "Display commits inside the app"
hello, first of all congratulations for the app, it's really well done!
As a user I would like to know if it is possible to show the contents of the commits directly inside the app without opening the link on the browser.
Thank you

[2021-05-28 20:41] ambagasdowa commented on #224
same problem but with GitLab truncated at 20 items

[2021-05-30 17:36] pd4d10 commented on #236
Should have been fixed in the latest v1.12.4. Could you please help to confirm?

The iOS updates may be a little later due to the review process.

[2021-05-30 18:21] qwerty287 commented on #236
Yes it's working on my device
Thanks!

[2021-06-01 14:08] pd4d10 commented on #236
Should be landed. Closing. Thanks for your reports!

[2021-06-01 14:08] #236 closed

[2021-06-03 14:15] linsui opened #239 "F-Droid build failed"
[code]

Which flutter version should be used? Thanks!

[2021-06-03 14:39] pd4d10 commented on #239
Stable channel should be fine

[2021-06-03 14:42] linsui commented on #239
I tried 2.2.1 and it stucked forever.

[2021-06-03 15:40] pd4d10 commented on #239
This is the version in my local machine:

[code]

[2021-06-04 03:36] Aouchinx opened #240 "Does it support bitbucket server?"
I have my own bitbucket server, and  i get the following error when i try to log in on the git-touch app.

![git-touch-issue](https://user-images.githubusercontent.com/71441807/120741283-5ecfb880-c527-11eb-81f0-e3723be3309f.png)

I have noticed the tip about App Password. I did not find this feature in Bitbucket Server. But I found a setting item for Personal access tokens. I created a token for g

[2021-06-05 11:02] linsui commented on #239
The build recipe is

[code]

It stuck at

[code]

[2021-06-08 02:17] 888haobing opened #242 "建议"
1 添加查看github action 运行
2 github 多账号支持

[2021-06-08 13:10] shreyas1599 commented on #240
@Aouchinx it's not supported yet. Bitbucket Cloud and Server API calls are different. The app only supports Cloud API calls.

[2021-06-08 13:16] shreyas1599 commented on #239
@linsui seems like your dart version is 2.10.4 but your flutter version is fine. You've to update dart separately. Or are you already using dart >= 2.12.0?

[2021-06-08 15:34] linsui commented on #239
This is from an old flutter version. I'm not sure which Dart version is used. The full log is available at https://gitlab.com/linsui/fdroiddata/-/jobs/1321205433 if it's useful.

[2021-06-08 16:34] shreyas1599 commented on #239
Oh ok

[code]

These shouldn't cause a problem. They're just warnings. I tried building android releases on my local machine and it works fine. Not sure what the problem is. Did a re-run of the build work?

[2021-06-08 17:42] pd4d10 commented on #240
Yeah, just as @shreyas1599 says, the recommended way of BitBucket API seems to be the [app passwords](https://support.atlassian.com/bitbucket-cloud/docs/app-passwords/).

Looks like the case is a self-hosted BitBucket. Is there any documentation for it?

[2021-06-08 17:45] shreyas1599 commented on #240
@pd4d10 yeah there is. Its maintained separately and has a different version also.
https://developer.atlassian.com/server/bitbucket/how-tos/command-line-rest/

[This](https://community.atlassian.com/t5/Bitbucket-questions/Does-the-rest-api-2-0-exist-for-server/qaq-p/881631) talks about how they're different

[2021-06-08 17:54] pd4d10 commented on #240
OK. I guess we can support it, but we may need a server for testing

[2021-06-08 18:15] Aouchinx commented on #240
@pd4d10 @shreyas1599
Okay, I already understand. Thank you both for letting me know the difference. 🤝

[2021-06-08 23:46] linsui commented on #239
I tried to rerun it but got the same error.

[2021-06-09 08:15] #222 closed

[2021-06-09 08:15] #221 closed

[2021-06-09 08:15] #220 closed

[2021-06-09 08:16] #219 closed

[2021-06-09 08:18] shreyas1599 commented on #214
@Quantenzitrone do you mean this? It seems possible

![image](https://user-images.githubusercontent.com/28999492/121318809-3847be00-c929-11eb-8b1b-5328ad8e8c47.png)

[2021-06-09 08:21] #226 closed

[2021-06-09 08:23] shreyas1599 commented on #212
@yaoweigh can you give an example of where this happens?

[2021-06-09 08:30] shreyas1599 commented on #207
I checked a few apps. They either follow all first letters capitalized or only the first letter of the string capitalized. In git touch some are only first letter capitalized while some are first letter of every word capitalised. Better to make it consistent. I'll make first letter of every word capitalised

[2021-06-09 16:12] Lukas-Batema commented on #207
Yes, if they are in a title, which this is, I assume, or a proper noun. Only one needs to be fulfilled, for this to be capitalized.

[2021-06-12 07:00] hellotyty opened #245 "组织查看empty"
组织查看empty

[2021-06-12 07:12] shreyas1599 commented on #245
@hellotyty can you give an example of where this occurs? You've to change the visibility of being part of the organization to "public" for it to appear in the organisation tab

[2021-06-13 20:33] tiptoptom opened #246 "all platforms in one interface"
I an opinion would be nice to have all platforms in one interface. So that you don't have to switch between your accounts when you want something from an other platform. For example, when I search for a project, I want to see results from every platform.

It's just an Idea. But probably the effort to implement it is too large.

[2021-06-14 06:13] #224 closed

[2021-06-14 08:00] #114 closed

[2021-06-14 09:44] Quantenzitrone commented on #214
@shreyas1599 It doesn't work for me. When I long click a word, it just asks me if I want to paste or select all.

[2021-06-14 17:04] pd4d10 opened #248 "[github] request review event type error"
![simulator_screenshot_46A65892-BD9B-4D5C-9BEC-33494EF7C339](https://user-images.githubusercontent.com/9524411/121930948-92a3ad00-cd75-11eb-86ba-e51070bc0167.png)

[2021-06-15 15:22] hellotyty commented on #245
Thanks~This problem was solved when i changed the visibility "public".

                                tyty2017

                                    ***@***.***

        在2021年06月12日 15:12，Shreyas Thirumalai 写道：
@hellotyty can you give an example of where this occurs? You've to change the visibility of being part of the organization to "public" for it to appear in the organisation tab

—You are r

[2021-06-15 15:28] #245 closed

[2021-06-17 03:02] #207 closed

[2021-06-17 07:10] shreyas1599 commented on #248
@pd4d10

It can be fixed by removing the typecasts in https://github.com/git-touch/git-touch/blob/ddfa9e469e5be888aef32b8b13fa09dac079f69c/lib/widgets/timeline_item.dart#L445 and https://github.com/git-touch/git-touch/blob/ddfa9e469e5be888aef32b8b13fa09dac079f69c/lib/widgets/timeline_item.dart#L456

Is there any specific reason why you've used typecasts? If typecasting is necessary then https://gi

[2021-06-17 08:34] shreyas1599 commented on #214
@Quantenzitrone  which version of android are you using?

[2021-06-17 08:41] coinhu opened #249 "slow load on bitcucket"

[2021-06-17 09:08] linsui commented on #239
1.13.0 stuch at

[code]

[2021-06-17 09:33] shreyas1599 commented on #239
@linsui is there any way to test this locally? Do you have any links?

[2021-06-17 09:59] linsui commented on #239
Yes, you can test it with [fdroidserver](https://gitlab.com/fdroid/fdroidserver) locally. The gitlab CI use the docker image.

[2021-06-17 16:08] pd4d10 commented on #248
Yeah, I guess it's just an issue of type. It should be enough to just correct the type (and make sure it doesn't break other places, of course)

[2021-06-17 17:21] shreyas1599 opened #251 "changelog screen"
One time screen when app is downloaded / updated

[2021-06-17 17:24] shreyas1599 commented on #205
Do you mean opening the repo without waiting for search to load and then clicking on the search result?

[2021-06-17 18:49] linsui commented on #205
Yep. And it's not only about waiting. It's difficult to find a repo by search if it's just a fork. I want a direct way to access a repo with link.

[2021-06-18 03:35] #248 closed

[2021-06-18 07:15] shreyas1599 commented on #92
Closing this. Easier to use `Cmd + P` with `gh`. Been using it since you made the suggestion.

[2021-06-18 07:15] #92 closed

[2021-06-18 15:30] Quantenzitrone commented on #214
@shreyas1599 Android 8.0.0

[2021-06-19 07:34] shreyas1599 commented on #60
hi @pd4d10 I managed to get it working. But stuck on something. Suppose the current account is gitlab, the link wont load. I'm thinking of going through all the accounts, find the first account that is a github account and `setActiveAccount` to that and then push the deep link screen. I don't know whether this is a good way to do this. Another way is to store one account each for each platform and

[2021-06-20 06:21] shreyas1599 commented on #60
Also I don't think it's possible to do for iOS. I made it work only on android. For iOS the website needs to host a file to allow it to redirect to the app. See https://developer.apple.com/documentation/xcode/supporting-associated-domains

[2021-06-20 06:22] shreyas1599 commented on #234
Being tracked in #60

[2021-06-20 06:22] #234 closed

[2021-06-21 05:59] shreyas1599 commented on #214
@Quantenzitrone I tried it on Android 8.0.0 as well. Seems to be working fine. Did uninstalling and reinstalling not work?

[2021-06-21 06:31] shreyas1599 commented on #225
@weeebdev can you verify with this endpoint if the repos you wish to be fetched are visible? I'm not a member of any gitlab project so I can't verify. https://gitlab.com/api/v4/users/{your_user_id}/projects?membership=true&Private-Token={your_private_token}. If you aren't aware of your user id you can get it from https://gitlab.com/api/v4/users?username={your_gitlab_username}&Private-Token={your_p

[2021-06-22 04:35] Elbullazul opened #254 "Support for opening URLs in app"
It would be really good to be able to open Github and other providers' in the app instead of the browser. For example, Fasthub can be set as default for opening Github repo URLs

[2021-06-25 07:59] weeebdev commented on #225
Nope. I do only see my own public repos (not even private)

[2021-07-05 09:19] Big-Cake-jpg opened #255 "Gitee 账户无法登录 Can't login to Gitee"
Gitee没有Access Token选项，但有OAuth
I can't get Gitee‘s Access Token.But you can use OAuth

[2021-07-05 09:19] Big-Cake-jpg opened #256 "Gitee 账户无法登录 Can't login to Gitee"
Gitee没有Access Token选项，但有OAuth
I can't get Gitee‘s Access Token.But you can use OAuth

[2021-07-10 06:57] gmugu opened #257 "The app doesn't has proxy！"

[2021-08-04 12:32] Quantenzitrone commented on #214
Idk man.
At first I wasnt able to log into my GitHub with GitTouch. I solved this by making a personal token to my GitHub for GitTouch.
Recently I received an update to Android 8.1. for my device. Still no change.
Idk if that matters but I use a custom ROM without Google Services.

[2021-08-17 06:52] Darkempire78 opened #258 "Bug with the scrollbar"
The scrollbar bugs when there is an unfold section in a readme (with the webview mode).
It should be resize with the content when it is unfold

#Screenshots:
![Screenshot_20210817-084621](https://user-images.githubusercontent.com/50015928/129677358-e7e6ebd1-5503-4588-abca-c6602500d527.png)

![Screenshot_20210817-084626](https://user-images.githubusercontent.com/50015928/129677356-3321cb51-059a-467

[2021-08-19 08:01] #256 closed

[2021-08-21 04:13] pd4d10 opened #259 "unknown read clipboard"
![Screenshot_2021-08-20-23-39-44-356_com miui securitycenter](https://user-images.githubusercontent.com/9524411/130310149-81e611a5-f3ae-41dc-8d33-1ab45ba7710e.jpg)

[2021-08-21 04:17] pd4d10 opened #260 "Gitee branch switch (from email feedback)"

[2021-08-28 17:26] michaelblyons commented on #236
F-droid still has the version that is broken.

[2021-08-29 19:15] falsisdev opened #261 "What's needed"
First of all, **Full** Markdown support should be added to the application. Some html codes (like <br>) that support markdown do not work. In addition, images do not appear in markdown or look very bad. Profile repositories should appear in profile. We should be able to edit files (like FastHub). And a lot of features available on github itself should be added as well.

[2021-08-31 14:47] falsisdev commented on #261
The application cannot open Github links.

[2021-09-16 08:43] debpalash opened #262 "clickable git link readme files"
so when link quotation are clicked it does nothing currently, it will be helpful if a view redirect or tabular popup view provided for links on readme files.

[2021-09-26 23:29] michaelblyons commented on #239
Please note that the last available F-Droid version does not include #236, so GitHub authentication does not work for new users. They cannot complete the auth flow.

[2021-09-27 09:36] PatrykNog opened #263 "Git touch have some problems with rendering long and complicated markdown files"
Android 10
WebView 93.0.4577.82

Git touch crashes when markdown renderer is WebView and it's really sluggish when it's flutter

[2021-10-01 18:10] bblaszkiewicz opened #264 "Wrong gitlab commit url"
correct url: https://gitlab.com/groupname/subgroupname/project-name/-/commit/sha
commit url in app after click on commits list: https://gitlab.com/subgroupname/project%20name/commit/sha

- the name of the parent group is missing
- wrong project name format
- missing '/-/'

[2021-10-09 05:25] #261 closed

[2021-10-13 18:13] d2rgaming-9000 opened #266 "Unupdated fdroid version. OAUTH issue."
Just installed it on fdroid (default repo). And the OAUTH is still bugged.

It does not recognize OAUTH, even when authroized and confirmed.

## Its a shame the app looks nice. I wish if there is a way to update the repos or somehow fix the OAUTH issue.

[2021-11-12 00:10] michaelblyons commented on #266
Related #239, #236

[2021-11-15 09:31] nimingyonghuLiu opened #269 "Could you please add the line numbers?"
Thank you for your great work about git-touch! But could you please try to add the line numbers for the code snippets?
If you had already provided this function, then I’m so sorry to bother you.
Thank you!

[2021-11-17 19:05] #214 closed

[2021-11-25 23:09] nw-wind opened #271 "self-signed gitlab ssl certificate"
How to disable self signed ca verification for standalone gitlab instances? I can’t use any valid :(

[2021-12-19 00:11] goldenages1989 opened #272 "gist数据不全"
展示的条数比gist网址上的条数少

[2021-12-25 00:33] MalcolmMielle opened #273 "Gitlab readme is wrong on Android"
Thanks for the great app :) !

On the android version of the app, the README of a GitLab repository renders as a bunch of HTML/CSS.

[2022-01-04 11:47] jasonmj opened #274 "Dark theme link contrast"
Blue links on a black background are hard on my eyes. some more contrast would be nice.

[2022-01-08 20:15] SamGreenwood1 opened #275 "Unable to login to KDE Connect with GitTouch"

[2022-01-16 19:05] SamGreenwood1 commented on #275
@pd4d10 still having issues logging in to that GitLab instance in GitTouch.

[2022-01-18 00:46] CoringPlay opened #276 "о"
н

[2022-01-22 00:05] petersamokhin opened #277 "No gists available"
The gists screen is empty. I tried to log in via oAuth and via generating a token (required scopes + gists), but it didn't help.
The gists are `secret`.

[2022-01-22 13:06] #276 closed

[2022-01-22 13:24] vardan-info commented on #276
![image](https://user-images.githubusercontent.com/69822867/150640237-4291c2ac-6a95-46d8-8b72-0f3dc7da19bc.jpeg)

[2022-01-22 15:08] Lehmaning commented on #123
The problem still exists. Maybe we should open this issue again...

[2022-02-05 07:08] Monty opened #278 "WebView Markdown doesn't expand <details>"
On an iPhone, with Markdown Render Engine set to WebView,  \<details> are not expanded.

[Excerpt below taken from this repo.](https://github.com/Monty/wordled/tree/Shorten_README)

A sliver of the expansion shows up but I can't scroll down to see it.

Using the flutter engine, the  \<details> are always expanded.

[code]

[2022-02-05 15:47] Big-Cake-jpg opened #279 "Markdown render causes laggy"
When GitTouch rendered Markdown with WebView, my iPhone become more laggy on scrolling. When I enter another page or change the render engine to Flutter, it no longer laggy.

My iPhone is so old (iPhone 6 Plus), may cause by it?

[2022-02-06 10:47] #255 closed

[2022-02-15 14:09] Lonor opened #280 "Error heppened with GitLab domain ( jihulab.com )"
jihublab.com is now an official gitlab saas website for Chinese users. ( please check it from https://gitlab.cn )

when i was trying to login by GitLab with this domain, an error occurred:

![image](https://user-images.githubusercontent.com/24540598/154078177-e6ba5d7c-98e5-4244-b305-24cce432b09e.jpeg)

[2022-03-30 14:24] SamGreenwood1 opened #281 "Is this still being updated?"

[2022-03-31 13:26] UltraBlackLinux commented on #281
Stuff still gets fixed, there are refractors and more, yet major/issues just persist. - Probably because the latest release on FDroid and prob GP are a year old

[2022-04-22 09:57] Geniuze opened #282 "bottom"
request go to bottom function in code area

[2022-04-26 12:00] choppertime opened #283 "question"
I’m new to to the IT scene and learning to down load Lenux virtual OS. I have windows 7 can I do this on a 7. or should I upgrade to 10.  anyone know of a safe site I can download windows 10 for free

[2022-04-26 21:46] Lukas-Batema commented on #281
This is why I use the GitHub Official app now too

[2022-04-28 01:12] SamGreenwood1 commented on #281
As do I, but the issue is regarding a GitLab instance and GitLab doesn't have an official app.

[2022-04-28 13:28] dynfactor opened #284 "Open links in the app"
I browse using my browser and when I click for a github/gitlab link it doesn't open in GitTouch. It works with official github app but not here. This feature saves alot of time, espacilly when the search is broken gitlab. It will would be nice to add this feature for android.

[2022-04-29 02:27] reanimat0r commented on #284
Same here. I haven't been able to open Gittouch, nor any other 3rd party Github client.
Issue replicated on 3 devices from different OEMs,running droid 11 OS.

[2022-05-01 02:05] linghengqian commented on #281
@pd4d10  Looks like there are a couple of big PR's that no one ever reviewed... What happens to block it?

[2022-05-30 02:50] wesleyjrz opened #285 "App crashes with WebView"
My app crashes if I enable webview as my Mardown Engine.

[2022-06-20 03:04] pd4d10 opened #286 "[from email] repo item description"
显示问题，如图，有乱码，并且显示很长，无法显示下一个项目

![image](https://user-images.githubusercontent.com/9524411/174517979-3d59be2e-a584-4fa5-8538-34648bfdaa4f.png)

[2022-06-20 04:41] pd4d10 opened #287 "[from email] Markdown doesn’t render images"
Should be HTML tags like `<img />` in native component

[2022-07-28 02:40] BPOutlaws opened #288 "Can we get fonts smaller than 12pt lol"
Any chance of throwing in some smaller font sizes down to 9 or 10pt so we can see more code on mobile without having to choose between either most lines going off the right edge of the screen in portrait mode, or only seeing a few lines in total
in landscape mode?

[2022-09-24 09:41] DavidPesticcio commented on #281
@SamGreenwood1 LabCoat works pretty well for GitLab... 😎🤘

https://github.com/Commit451/LabCoat

[2022-09-25 18:58] zetaomegagon opened #290 "Feature Request - Ability to open links to repos by default"
Hello and thanks for making this awesome, one stop app for interacting with various version control systems.

One thing that I've noted is that this app doesn't seem to tell Android that it can open links to repos, so I can't set it to open for github / gitlab links.

Would be awesome if we could just open those links with GitTouch.

Thanks!

[2022-10-17 10:02] #238 closed

[2022-10-19 08:23] #223 closed

[2022-10-27 13:12] #274 closed

[2022-11-03 19:16] iTrooz opened #291 "github OAuth doesn't work"
Immediately after installing the app, I tried to add a github account using OAuth (first option)
When I authorized the application through github, the application just returning to the "add an account" screen without adding the account

I then tried with a Personal Access Token, which worked fine. I then tried to add again the account with OAuth. This time, the account was added (and so I had two

[2022-11-04 20:44] thomas-bouvier commented on #291
Hey, I think this has been fixed in https://github.com/git-touch/git-touch/releases/tag/v1.13.0

[2022-11-04 22:27] iTrooz commented on #291
Indeed that fixed it ! Sorry I didn't check versions first

[2022-11-04 22:28] #291 closed, assigned to nobody

[2022-11-04 22:33] iTrooz opened #292 "Continuous release"
The last release is from over a year ago, but there seems to be a lot of changes (commits) since then.
If this is true, and if the release cycle must stay like this, I think it would be good to have a continuous release that is updated with the latest CI artifacts (which would also require a CI that build the app ofc)

I am willing to work on this, but I would like your approval (or from anyone th

[2022-11-17 06:54] DinuruSeniya commented on #292
I also support this. The current CI runner fails due to an outdated NodeJS version. However even after fixing that, I still get this error.
`ERR : Because git_touch depends on antd_mobile from path which doesn't exist (could not find package antd_mobile at "../ant-design-mobile-flutter"), version solving failed.`
It'd be helpful to have an updated app built on new versions of Flutter.

In the mean

[2022-11-17 11:51] iTrooz commented on #292
You mean, maintaining a fork ?

The problem is that
- I don't want to spend time continuously maintaining a project, even if it's just rebasing from time to time
- not many people would even be aware of the fork
- I don't want to work on something that maybe won't be used

Even if you meant just preparing the PR in advance, my last point still apply